<template>
  <main>
    <div class="loading" v-if="isLoading">
      <div>Loading</div>
      <div>
        <!-- By Sam Herbert (@sherb), for everyone. More @ http://goo.gl/7AJzbL -->
        <svg
          width="38"
          height="38"
          viewBox="0 0 38 38"
          xmlns="http://www.w3.org/2000/svg"
          stroke="#0082C8"
        >
          <g fill="none" fill-rule="evenodd">
            <g transform="translate(1 1)" stroke-width="2">
              <circle stroke-opacity="0.5" cx="18" cy="18" r="18" />
              <path d="M36 18c0-9.94-8.06-18-18-18">
                <animateTransform
                  attributeName="transform"
                  type="rotate"
                  from="0 18 18"
                  to="360 18 18"
                  dur="1s"
                  repeatCount="indefinite"
                />
              </path>
            </g>
          </g>
        </svg>
      </div>
    </div>

    <div class="control-heading">
      <div>
        <h1>{{ id ? 'Edit Blog Post' : 'Create New Blog Post'}}</h1>
      </div>

      <div class="heading-buttons">
        <fw-button
          v-if="deleted_at && deleteRestoreButtons"
          design="outline"
          state="info-alt"
          size="small"
          icon="sync"
          type="button"
          role="button"
          @click.native="restorePost"
        >Restore</fw-button>

        <fw-button
          v-else-if="!deleted_at && deleteRestoreButtons"
          design="outline"
          state="critical"
          size="small"
          icon="trash-alt"
          type="button"
          role="button"
          @click.native="destroyPost"
        >Delete</fw-button>

        <fw-button
          v-if="!id"
          design="outline"
          state="info"
          size="small"
          icon="sticky-note"
          type="button"
          role="button"
          @click.native="saveDraft"
        >Save Draft</fw-button>

        <fw-button
          v-if="id && !deleted_at && published"
          design="outline"
          state="info"
          size="small"
          icon="sticky-note"
          type="button"
          role="button"
          @click.native="saveDraft"
        >Unpublish</fw-button>

        <fw-button
          v-if="!deleted_at && !published"
          design="outline"
          state="success"
          size="small"
          icon="check"
          type="button"
          role="submit"
          @click.native="publishDraft"
        >Publish</fw-button>

        <fw-button
          v-if="id"
          design="solid"
          state="success"
          size="small"
          icon="save"
          type="button"
          role="submit"
          @click.native="saveChanges"
        >Save</fw-button>

        <fw-button
          v-if="id"
          design="solid"
          state="info"
          size="small"
          icon="arrow-right"
          type="button"
          role="submit"
          @click.native="visitPost"
        >View</fw-button>
      </div>
    </div>

    <section id="half-one">
      <form action ref="form">
        <div class="form-group">
          <label for="title">
            <div class="label-text">Title</div>
            <input
              type="text"
              name="title"
              id="title"
              :placeholder="titlePlaceholder"
              v-model.trim="$v.title.$model"
              required
            />

            <span v-if="$v.title.$error" class="input-warning">Don't forget to add a title!</span>
            <input type="hidden" name="slug" v-model="slug">
          </label>
        </div>

        <div class="form-group">
          <label for="summary">
            <div class="label-text">Summary</div>
            <input
              type="text"
              name="summary"
              id="summary"
              :placeholder="summaryPlaceholder"
              v-model.trim="$v.summary.$model"
              required
            />
            <span v-if="$v.summary.$error" class="input-warning">Don't forget to add a summary!</span>
          </label>
        </div>

        <div class="form-group">
          <label for="content">
            <div class="label-text">Content</div>
            <textarea
              name="content"
              id="post_content"
              style="height: 100%;"
              :placeholder="contentPlaceholder"
              v-model.trim="$v.content.$model"
              rows="20"
              required
            ></textarea>
            <span v-if="$v.content.$error" class="input-warning">Don't forget to add some content!</span>
          </label>
        </div>

        <div class="form-group" v-if="companyPicker">
          <label for="company">
            <div class="label-text">What compnay should this post on?</div>
            <select name="company_id" id="company" v-model="selectedCompany">
              <option disabled selected>Choose One</option>
              <option
                v-for="company in companies"
                :key="company.id"
                :value="company.id"
              >{{ company.name}}</option>
            </select>
          </label>
        </div>

        <div class="form-group" style="padding: 12px;">
          <image-picker :image="featured_image"></image-picker>
        </div>
      </form>
    </section>

    <section id="half-two">
      <h1
        :class="title ? '' : 'text-muted'"
        style="margin: 0 0 8px;"
      >{{ title || titlePlaceholder }}</h1>

      <h3
        style="margin: 0 0 16px; opacity: 0.5;"
      >{{ slugifiedTitle }}</h3>

      <h3
        :class="summary ? '' : 'text-muted'"
        style="margin: 0 0 32px;"
      >{{ summary || summaryPlaceholder }}</h3>

      <hr />

      <vue-markdown
        :class="content ? '' : 'text-muted'"
        class="markdown"
        :source="content || contentPlaceholder"
      ></vue-markdown>
    </section>

    <general-alert :state="alertState" :icon="alertIcon" :message="alertMessage" ref="alert"></general-alert>
  </main>
</template>

<script>
import VueMarkdown from "vue-markdown";
import ImagePicker from "../inputs/ImagePicker";
import ButtonComponent from "../ButtonComponent";
import GeneralAlert from "../alerts/GeneralAlert";
import { validationMixin } from "vuelidate";
import {
  required,
  minLength,
  maxLength,
  between
} from "vuelidate/lib/validators";
import slugify from 'slugify';

export default {
  name: "blog-create",
  components: {
    "vue-markdown": VueMarkdown,
    "image-picker": ImagePicker,
    "fw-button": ButtonComponent,
    "general-alert": GeneralAlert
  },

  props: {
    blogId: {
      type: String,
      default: null
    }
  },

  mixins: [validationMixin],

  data() {
    return {
      id: this.blogId,
      selectedCompany: null,
      published: null,
      title: null,
      slug: null,
      titlePlaceholder: "Blog Title",
      summary: null,
      summaryPlaceholder: "Drop in a short description about this post.",
      content: null,
      contentPlaceholder: "Please be as descriptive as possible.",
      featured_image: null,
      deleted_at: false,
      companies: [],
      companyPicker: false,
      isLoading: false,
      alertState: null,
      alertIcon: null,
      alertMessage: null,
      deleteRestoreButtons: false
    };
  },

  methods: {
    getCompanies() {
      if (Laravel.user.roles[0].id == 1 || Laravel.user.roles[0].id == 2) {
        axios.get("/api/companies").then(res => {
          this.companies = res.data.companies;
          this.toggleCompanyPicker();
        });
      } else {
        return null;
      }
    },

    /**
     * If id prop passed in, get the post from id and load it for editing.
     *
     * @param {number} id
     */
    axiosGetPost(id) {
      axios
        .get("/api/blog/" + id, (this.isLoading = true))
        .then(res => {
          let blog = res.data.blog;

          this.isLoading = false;

          this.id = blog.id;
          this.published = blog.published;
          this.title = blog.title;
          this.summary = blog.summary;
          this.content = blog.content;
          this.featured_image = blog.featured_image;
          this.setCompany(blog.company_id);

          this.deleteRestoreButtons = true;

          if (blog.deleted_at == null) {
            this.deleted_at = false;
          } else {
            this.deleted_at = blog.deleted_at;
          }
        })
        .catch(e => {
          console.log("Error: " + e);
        });
    },

    /**
     * Post formData to BlogApiController
     *
     * @param {object} formData
     */
    axiosPost(formData) {
      axios
        .post(
          "/api/blog",
          formData,
          {
            headers: {
              "Content-Type": "multipart/form-data"
            }
          },
          (this.isLoading = true)
        )
        .then(res => {
          window.location = res.data.redirect;
        })
        .catch(e => {
          this.isLoading = false;
          console.log(e);
        });
    },

    /**
     * Update current post with formData
     *
     * @param {object} formData
     *
     * @param {number} id
     */
    axiosPatch(formData, id) {
      axios
        .post(
          "/api/blog/" + id,
          formData,
          {
            headers: {
              "Content-Type": "multipart/form-data"
            }
          },
          (this.isLoading = true)
        )
        .then(res => {
          this.isLoading = false;
          this.alertState = "success";
          this.alertMessage = res.data.message;
          this.alertIcon = "thumbs-up";
          this.$refs.alert.toggle();
          setTimeout(() => {
            this.$refs.alert.toggle();
          }, 5000);
        })
        .catch(e => {
          console.log("Errors: " + e);
        });
    },

    /**
     * Send delete request for current post to BlogApiController
     *
     * @param {object} formData
     *
     * @param {number} id
     */
    axiosDestroy(formData, id) {
      axios
        .post("/api/blog/" + id, formData, (this.isLoading = true))
        .then(res => {
          window.location = res.data.redirect;
          this.alertMessage = res.data.message;
        })
        .catch(e => {
          console.log("Errors: " + e);
        });
    },

    axiosRestore(id) {
      axios
        .get("/api/blog/" + id + "/restore")
        .then(res => {
          window.location = res.data.redirect;
          this.alertMessage = res.data.message;
        })
        .catch(e => {
          console.log("Errors: " + e);
        });
    },

    saveDraft() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        this.alertState = "critical";
        this.alertMessage =
          "Sorry, there are errors with the content you submitted. Please fix them and try again.";
        this.alertIcon = "exclamation-triangle";
        this.$refs.alert.toggle();
        setTimeout(() => {
          this.$refs.alert.toggle();
        }, 5000);
      } else {
        let formData = new FormData(this.$refs.form);

        formData.append("created_by", Laravel.user.id);
        formData.append("published", 0);

        if (this.id == null) {
          formData.append("_method", "POST");
          this.axiosPost(formData);
        } else {
          formData.append("_method", "PATCH");
          this.axiosPatch(formData, this.id);
          setTimeout(() => {
            this.axiosGetPost(this.id);
          }, 250);
        }
      }
    },

    publishDraft() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        this.alertState = "critical";
        this.alertMessage =
          "Sorry, there are erros with the content you submitted. Please fix them and try again.";
        this.alertIcon = "exclamation-triangle";
        this.$refs.alert.toggle();
        setTimeout(() => {
          this.$refs.alert.toggle();
        }, 5000);
      } else {
        let formData = new FormData(this.$refs.form);

        formData.append("created_by", Laravel.user.id);
        formData.append("published", 1);

        if (this.id == null) {
          formData.append("_method", "POST");
          this.axiosPost(formData);
        } else {
          formData.append("_method", "PATCH");
          this.axiosPatch(formData, this.id);
          setTimeout(() => {
            this.axiosGetPost(this.id);
          }, 250);
        }
      }
    },

    saveChanges() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        this.alertState = "critical";
        this.alertMessage =
          "Sorry, there are erros with the content you submitted. Please fix them and try again.";
        this.alertIcon = "exclamation-triangle";
        this.$refs.alert.toggle();
        setTimeout(() => {
          this.$refs.alert.toggle();
        }, 5000);
      } else {
        let formData = new FormData(this.$refs.form);

        formData.append("created_by", Laravel.user.id);
        formData.append("published", 2);

        if (this.id == null) {
          formData.append("_method", "POST");
          this.axiosPost(formData);
        } else {
          formData.append("_method", "PATCH");
          this.axiosPatch(formData, this.id);
          setTimeout(() => {
            this.axiosGetPost(this.id);
          }, 250);
        }
      }
    },

    destroyPost() {
      let formData = new FormData(this.$refs.form);
      formData.append("_method", "DELETE");

      this.axiosDestroy(formData, this.id);
    },

    restorePost() {
      this.axiosRestore(this.id);
    },

    visitPost() {
      window.location = "/blog/" + this.id;
    },

    toggleCompanyPicker() {
      if (this.companies.length >= 2) {
        this.companyPicker = true;
      } else if (this.companies.length <= 1) {
        this.companyPicker = false;
      }
    },

    setCompany(companyId) {
      this.selectedCompany = companyId;
    },
  },

  computed: {
    slugifiedTitle() {
      let slug = slugify((this.title ?? ''));
      slug = slug.toLowerCase();
      slug = slug.substring(0, 191);

      this.slug = slug;
      return slug;
    }
  },

  validations: {
    title: {
      required
    },
    summary: {
      required
    },
    content: {
      required
    }
  },

  beforeMount() {
    this.getCompanies();

    if (this.id != null) {
      this.axiosGetPost(this.id);
    }
  }
};
</script>

<style lang="scss" scoped>
.control-heading {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  margin: 0 0 48px;
  padding: 0 12px;

  .heading-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-start;

    button {
      margin: 0 3px;
    }
  }

  @media screen and (max-width: 991px) {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;

    .heading-buttons {
      flex-flow: row wrap;
      justify-content: flex-start;
      margin: 16px 0 0;

      button {
        margin: 6px 6px 0 0;
      }
    }
  }
}

.text-muted {
  opacity: 0.35;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 16px;
  font-weight: 600;
}

.markdown {
  font-size: 16px;
  font-weight: 400;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.loading {
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 130, 200, 1);

  background-color: rgba(255, 255, 255, 0.85);

  div {
    margin: 0 6px;
  }
}

#half-one {
  width: 50%;
  padding: 0 48px 0 0;

  @media screen and (max-width: 991px) {
    width: 100%;
    padding: 0;
  }
}

#half-two {
  max-height: 90vh;
  width: 50%;

  padding: 27px 24px 0 0;

  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(229, 229, 229, 1);
    border: 3px solid rgba(255, 255, 255, 1);
    border-radius: 6px;
  }

  @media screen and (max-width: 991px) {
    width: 100%;

    margin: 96px 0;
    padding: 0 12px;

    max-height: 100%;
  }
}

.input-warning {
  display: block;

  margin: 4px 4px 0px;

  color: hsla(0, 65, 50, 0.75);
  font-weight: 600;
  font-size: 11px;
}
</style>
