<template>
		<div class="card blog">
			<div class="hero" v-if="featuredImage">
				<img :src="featuredImage" alt="">
			</div>
			<div class="headings">
				<div class="title">{{ truncateTitle(title) }}</div>
				<div class="meta">
					<strong>{{ createdAt != '' ? formatDate(createdAt) : '' }}</strong>
					<span v-if="author">
						by <strong>{{ author }}</strong>
					</span>
					<!-- <span v-if="company">
						on <strong>{{ company }}</strong>
					</span> -->
				</div>
			</div>
			<div class="summary">
				<span>
					{{ truncateSummary(summary) }}
				</span>
			</div>
			<div class="action">
				<fw-link :href="href" target="_self" design="text" state="info" size="small" icon="glasses">
					Read More
				</fw-link>
			</div>
		</div>
</template>

<script>
import moment from 'moment';
import '../../../sass/flat-world-theme/components/_cards.scss'
import LinkComponent from '../LinkComponent'

export default {
	props: {
		featuredImage: String,
		title: String,
		createdAt: String,
		author: String,
		company: String,
		summary: String,
		href: String
	},
	components: {
		LinkComponent,
	},
	computed: {
		//
	},
	methods: {
		truncateTitle(title) {
			if ( title.length > 45) {
				return title.substring(0,45) + '...'
			} else {
				return title
			}
		},
		truncateSummary(summary) {
			if ( summary.length > 150) {
				return summary.substring(0,150) + '...'
			} else {
				return summary
			}
		},
		formatDate(date) {
			return moment(date).format("MMM DD, YYYY");
		},
	},
}
</script>

<style lang="scss" scoped>
@import '../../../sass/flat-world-theme/components/_cards.scss';
</style>
