<template>
  <div class="card blog-admin">
    <div class="hero" v-if="featuredImage">
      <img :src="featuredImage || ''" :alt="imageAlt || ''">
    </div>

    <div class="summary">
      <div class="meta">
					{{ formatDate(createdAt) }}
      </div>

      <div class="title">
        {{ truncateTitle(title) }}
      </div>

      <div class="meta">
        <div>
          <span v-if="author">
            Published by
            <strong>{{ author }}</strong>
          </span>
					<span v-if="company">
						on <strong>{{ company }}</strong>
					</span>
        </div>
      </div>
    </div>

    <div class="actions">
      <div :class="'tag ' + blogStateClass" style="margin: 0 8px 0 0;" v-if="blogState && blogStateClass">
        {{ blogState }}
      </div>

      <fw-link :href="href" target="_self" design="text" state="info" size="small" icon="cog">
        Manage Post
      </fw-link>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import '../../../sass/flat-world-theme/components/_cards.scss'
import '../../../sass/flat-world-theme/components/_tags.scss'
import LinkComponent from '../LinkComponent'

export default {
  props: {
		featuredImage: String,
		imageAlt: String,
		title: String,
		createdAt: String,
		author: String,
		company: String,
		blogStateClass: String,
		blogState: String,
		href: String
  },
	methods: {
		truncateTitle(title) {
			if ( title.length > 45) {
				return title.substring(0,45) + '...'
			} else {
				return title
			}
		},
		truncateSummary(summary) {
			if ( summary.length > 150) {
				return summary.substring(0,150) + '...'
			} else {
				return summary
			}
		},
		formatDate(date) {
			return moment(date).format("MMM DD, YYYY");
		},
	},
}
</script>

<style lang="scss" scoped>
@import '../../../sass/flat-world-theme/components/_cards.scss';
@import '../../../sass/flat-world-theme/components/_tags.scss';
</style>
