<template>
  <div class="card file">
    <div class="icon">
      <span>
        <font-awesome-icon :icon="['fas', fileIcon]" fa-fw></font-awesome-icon>
      </span>
    </div>
    <div class="summary">
      <div class="filename">{{ truncateTitle(fileName) }}</div>
      <div class="filesize">{{ fileSize }}</div>
      <div class="filetype">{{ fileType }}</div>
    </div>
    <div class="action">
      <fw-link
        :href="href"
        target="_blank"
        design="text"
        state="info"
        size="small"
        icon="cloud-download"
      ></fw-link>
    </div>
  </div>
</template>

<script>
import "../../../sass/flat-world-theme/components/_cards.scss";
import LinkComponent from "../LinkComponent";
import fas from "@fortawesome/pro-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";

export default {
  props: {
    fileIcon: String,
    fileName: String,
    fileSize: String,
    fileType: String,
    href: String
  },
  components: {
    "font-awesome-icon": FontAwesomeIcon,
    LinkComponent
  },
  methods: {
    truncateTitle(title) {
      if (title.length > 45) {
        return title.substring(0, 45) + "...";
      } else {
        return title;
      }
    },
    truncateSummary(summary) {
      if (summary.length > 150) {
        return summary.substring(0, 150) + "...";
      } else {
        return summary;
      }
    },
    formatDate(date) {
      return moment(date).format("MMM DD, YYYY");
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../../../sass/flat-world-theme/components/cards";
</style>
