<template>
  <div>
    <div v-if="noTracking" class="noTracking">
      <span>Sorry, we can't find any information for that tracking number. Please try again.</span>
    </div>

    <div v-if="tracking">
      <main v-for="track in tracking.data" :key="track.id">
        <div class="cardHeader">
          <div class="identifier">
            <span class="header-primary">{{ track.bolNum }}</span>
            <span class="header-secondary">Bill of Lading</span>
          </div>

          <div class="status">
            <span
              class="header-primary"
              :title="track.currentStatus"
              v-tippy="{
                placement: 'top',
                theme: 'trackingCard',
                size: 'large',
                delay: [0, 300],
                arrow: true,
              }"
            >{{ truncateString(track.currentStatus, 29) }}</span>
            <span class="header-secondary">{{ track.currentLocation }}</span>
          </div>

          <div class="indicator">
            <div
              class="indicator-circle"
              style="background-color: rgba(0, 130, 200, 1);"
              title="In Transit"
              v-tippy="{
                placement: 'top',
                theme: 'trackingCard',
                size: 'large',
                delay: [0, 300],
                arrow: true,
              }"
            ></div>
          </div>
        </div>

        <section class="companies">
          <div class="company origin">
            <span class="company-category">Origin</span>
            <!-- <span class="company-name">{{ track.originLocation.name }}</span> -->
            <div class="company-address">
              <span class="title-case">{{ track.originLocation.city.toLowerCase() }}</span>
              ,
              {{ track.originLocation.state }}
              {{ track.originLocation.zipCode }}
            </div>
            <!-- <span class="company-location">
              {{ track.originLocation.city }},
              {{ track.originLocation.state }}
              {{ track.originLocation.zipCode }}
            </span>-->

            <div class="company-times">
              <div v-if="track.estimatedPickupDate">
                <span>
                  <font-awesome-icon icon="sign-out"></font-awesome-icon>
                </span>
                <span>ETD</span>
                <span>{{ formatDate(track.estimatedPickupDate) }}</span>
              </div>

              <div v-if="track.actualPickupDate">
                <span>
                  <font-awesome-icon icon="sign-out"></font-awesome-icon>
                </span>
                <span>ATD</span>
                <span>{{ formatTime(track.actualPickupDate) }}</span>
              </div>
            </div>
          </div>

          <div class="direction">
            <span>
              <font-awesome-icon icon="angle-right"></font-awesome-icon>
            </span>
          </div>

          <div class="company destination">
            <span class="company-category">Destination</span>
            <!-- <span class="company-name">{{ track.destinationLocation.name }}</span> -->
            <div class="company-address">
              <span class="title-case">{{ track.destinationLocation.city.toLowerCase() }}</span>
              ,
              {{ track.destinationLocation.state }}
              {{ track.destinationLocation.zipCode }}
            </div>
            <!-- <span class="company-location">
              {{ track.destinationLocation.city }},
              {{ track.destinationLocation.state }}
              {{ track.destinationLocation.zipCode }}
            </span>-->

            <div class="company-times">
              <div v-if="track.estimatedDeliveryDate">
                <span>
                  <font-awesome-icon icon="sign-in"></font-awesome-icon>
                </span>
                <span>ETA</span>
                <span>{{ formatDate(track.estimatedDeliveryDate) }}</span>
              </div>

              <div v-if="track.actualDeliveryDate">
                <span>
                  <font-awesome-icon icon="sign-in"></font-awesome-icon>
                </span>
                <span>ATA</span>
                <span>{{ formatDate(track.actualDeliveryDate) }}</span>
              </div>
            </div>
          </div>
        </section>

        <section class="primary-info">
          <div
            :title="track.carrierName"
            v-tippy="{
              placement: 'top',
              size: 'large',
              theme: 'trackingCard',
              delay: [0, 300],
              arrow: true
            }"
          >
            <span class="info-heading-primary">{{ truncateString(track.carrierName, 20) }}</span>
            <span class="info-heading-secondary">{{ track.quoteType }}</span>
          </div>

          <div>
            <span class="info-heading-primary">{{ track.direction }}</span>
            <span class="info-heading-secondary">Direction</span>
          </div>

          <!-- <div>
            <span class="info-heading-primary">{{ track.terms }}</span>
            <span class="info-heading-secondary">Terms</span>
          </div>-->

          <div>
            <span class="info-heading-primary">{{ formatDate(track.statusUpdateDate) }}</span>
            <span class="info-heading-secondary">Status Update</span>
          </div>
        </section>

        <section class="secondary-info">
          <div v-for="shipperNumber in track.shipperNumbers" :key="shipperNumber">
            <span class="info-heading-primary">{{ shipperNumber }}</span>
            <!-- ToDo add company name by api req with company id {track.companyId} -->
            <span class="info-heading-secondary">Shipper Number</span>
          </div>

          <div v-for="poNumber in track.poNumbers" :key="poNumber">
            <span class="info-heading-primary">{{ poNumber }}</span>
            <span class="info-heading-secondary">P/O Number</span>
          </div>

          <div>
            <span class="info-heading-primary">{{ track.carrierPro }}</span>
            <span class="info-heading-secondary">PRO Number</span>
          </div>

          <div>
            <span
              class="info-heading-primary"
            >{{ track.lineItems.reduce((acc, item) => acc + item.pieces, 0).substring(1) }}</span>
            <span class="info-heading-secondary">Pieces</span>
          </div>

          <div>
            <span class="info-heading-primary">{{ track.totalWeight }}</span>
            <span class="info-heading-secondary">LBs</span>
          </div>
        </section>
      </main>
    </div>
  </div>
</template>

<script>
import VueTippy from "vue-tippy";

import moment from "moment";

import { library } from "@fortawesome/fontawesome-svg-core";
import {
  faSignOut,
  faSignIn,
  faAngleRight,
  faEnvelope
} from "@fortawesome/pro-solid-svg-icons";
import { faArrowRight } from "@fortawesome/pro-light-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
library.add(faSignOut, faSignIn, faAngleRight, faEnvelope, faArrowRight);

export default {
  components: {
    "font-awesome-icon": FontAwesomeIcon
  },

  props: {
    loading: false,
    trackingObject: null
  },

  data() {
    return {
      tracking: null,
      noTracking: false,
      isLoading: false
    };
  },

  watch: {
    trackingObject() {
      console.log(`Inside trackingCard: ${this.trackingObject}`);

      if (this.trackingObject) {
        this.tracking = this.trackingObject;
      } else {
        this.tracking = null;
        this.noTracking = true;
      }
    }
  },

  methods: {
    formatDate(date) {
      return moment(date).format("M/D/YYYY");
    },

    formatTime(time) {
      return moment(time).format("HH:mm");
    },

    truncateString(string, count) {
      if (string.length > count) {
        return string.substring(0, count) + "...";
      } else {
        return string;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.noTracking {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  max-width: 480px;

  margin: 0 auto;
  padding: 5vh 0;

  color: rgba(236, 143, 72, 1);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

main {
  &,
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  position: relative;
  z-index: 1;

  display: inline-grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-gap: 0px 8px;

  width: 100%;
  max-width: 1024px;

  margin: 48px 0px 0px;

  border-radius: 6px;

  &:first-child {
    margin: 0px;
  }

  &::before {
    content: "";

    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;

    width: 90%;
    height: 90%;

    transform: translate(-50%, -50%);

    background-color: rgba(255, 255, 255, 1);

    box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.2);
  }
}

.cardHeader {
  grid-column: 1 / 13;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0px 8px;
  align-content: center;

  padding: 12px 0px;

  border-radius: 6px 6px 0px 0px;
  border: 1px solid transparent;

  background-color: rgba(242, 244, 247, 1);

  .identifier,
  .status {
    display: flex;
    flex-flow: column;
    justify-content: center;

    width: 100%;
  }

  .identifier {
    grid-column: 1 / 6;
    align-items: flex-start;

    text-align: left;
    padding: 0px 0px 0px 24px;

    @media screen and (max-width: 512px) {
      grid-column: 1 / 12;
      padding: 0px 24px 12px;
    }
  }

  .status {
    grid-column: 6 / 12;
    align-items: flex-end;

    text-align: right;

    @media screen and (max-width: 512px) {
      grid-column: 1 / 12;
      align-items: flex-start;

      text-align: left;

      padding: 0px 24px;
    }
  }

  .indicator {
    grid-column: 12 / 13;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    &-circle {
      width: 16px;
      height: 16px;

      border-radius: 100%;
    }

    @media screen and (max-width: 512px) {
      grid-column: 12 / 13;
      grid-row: 1 / 3;
      align-items: flex-start;

      &-circle {
        width: 12px;
        height: 12px;

        margin: 0px 24px 0px 0px;

        border-radius: 100%;
      }
    }
  }

  .header {
    &-primary {
      color: rgba(85, 96, 102, 1);
      font-size: 20px;
      font-weight: 800;
      text-transform: uppercase;
      line-height: 85%;

      @media screen and (max-width: 512px) {
        font-size: 16px;
        line-height: 100%;
      }
    }

    &-secondary {
      color: rgba(106, 120, 128, 1);
      font-size: 12px;
      font-weight: 800;
      text-transform: uppercase;

      @media screen and (max-width: 512px) {
        font-size: 10px;
      }
    }
  }
}

.companies {
  grid-column: 1 / 13;

  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-gap: 0;

  background-color: rgba(233, 235, 240, 1);

  .company {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    height: 100%;

    padding: 12px 24px;

    &-category {
      color: rgba(106, 120, 128, 1);
      font-size: 12px;
      font-weight: 800;
      text-transform: uppercase;
    }

    &-name {
      margin: 0px 0px 2px;

      color: rgba(85, 96, 102, 1);
      font-size: 20px;
      font-weight: 500;
    }

    &-address {
      color: rgba(106, 120, 128, 1);
      font-size: 20px;
      font-weight: 400;
    }

    // &-location {
    //   color: rgba(106, 120, 128, 1);
    //   font-size: 9px;
    //   font-weight: 500;
    //   line-height: 100%;
    // }

    &-times {
      flex-grow: 1;
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      align-items: flex-start;

      margin: 24px 0 0;

      > div:first-child {
        margin: 0px 0px 8px;
      }

      span {
        margin: 0 4px 0 0;
        color: rgba(106, 120, 128, 1);
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }

  .origin {
    grid-column: 1 / 7;

    @media only screen and (max-width: 512px) {
      grid-column: 1 / 14;
    }
  }

  .destination {
    grid-column: 8 / 14;

    @media only screen and (max-width: 512px) {
      grid-column: 1 / 14;
    }
  }

  .direction {
    grid-column: 7 / 8;
    justify-self: stretch;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    background-color: rgba(242, 244, 247, 1);

    border-top: 4px solid rgba(233, 235, 240, 1);
    border-bottom: 4px solid rgba(233, 235, 240, 1);

    @media only screen and (max-width: 512px) {
      grid-column: 1 / 14;

      padding: 8px 0;

      border-top: 0px;
      border-bottom: 0px;

      span {
        transform: rotate(90deg);
      }
    }
  }
}

.primary-info {
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;

  width: 100%;

  padding: 12px 24px;

  background-color: rgba(242, 244, 247, 1);

  @media screen and (max-width: 512px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 384px) {
    grid-template-columns: repeat(1, 1fr);
  }

  div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.secondary-info {
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px 24px;

  width: 100%;

  padding: 24px;

  background-color: rgba(233, 235, 240, 1);

  border-radius: 0px 0px 6px 6px;

  @media screen and (max-width: 384px) {
    grid-template-columns: repeat(1, 1fr);
  }

  div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.info {
  &-heading-primary {
    color: rgba(85, 96, 102, 1);
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
  }

  &-heading-secondary {
    color: rgba(127, 144, 153, 1);
    font-size: 12px;
    font-weight: 600;
    line-height: 95%;
    text-transform: uppercase;
  }
}

.title-case {
  text-transform: capitalize;
}
</style>
