<template>
  <div class="featureCard" :style="backgroundColor(color)">
    <span class="icon">
      <font-awesome-icon :icon="['fas', icon]" fa-fw></font-awesome-icon>
    </span>
    <span class="text">
      {{ text }}
    </span>
  </div>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core'
import { fas } from '@fortawesome/pro-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add(fas)

export default {
  components: {
    'font-awesome-icon': FontAwesomeIcon
  },

  props: {
    icon: {
      type: String,
      default: 'chess-board'
    },
    text: {
      type: String,
      default: 'Add some text!'
    },
    color: {
      type: String,
      default: '#fbfbfb'
    },
  },

  methods: {
    backgroundColor(color) {
      return 'background: linear-gradient(90deg, rgba(200, 200, 200, .05), rgba(245, 245, 245, .15)), ' + color + '; box-shadow: 0px 4px 12px 0px ' + this.hexToRgbA(color, .25) + ', 0px 4px 16px 0px rgba(0, 0, 0, .05);'
    },

    // Found this beauty here: https://stackoverflow.com/questions/21646738/convert-hex-to-rgba
    hexToRgbA(hex, opacity) {
      var c
      if (/^#([A-Fa-f0-9]{3}){1,2}$/.test(hex)) {
        c = hex.substring(1).split('')
        if (c.length == 3) {
          c = [c[0], c[0], c[1], c[1], c[2], c[2]]
        }
        c = '0x' + c.join('')
        return 'rgba(' + [(c >> 16) & 255, (c >> 8) & 255, c & 255].join(',') + ', ' + opacity + ')'
      }
      throw new Error('Bad Hex');
    }
    },
}
</script>

<style lang="scss" scoped>
.featureCard {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  width: calc(33.33% - 48px);
  min-width: 300px;

  margin: 0px 6px 16px;
  padding: 64px 24px;

  border: 1px solid transparent;
  border-radius: 8px;

  color: hsla(0, 0, 100, 1);

  .icon {
    font-size: 28px;
    margin: 0px 24px 0px 0px;
  }

  .text {
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
  }
}
</style>