<template>
<div class="card general">
  <div class="hero" v-if="image">
    <img
      :src="image || 'https://images.unsplash.com/photo-1533529318682-0c3e2fc1e225?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=66bef43351b3fe01a5b3b41f9d7d3a64&auto=format&fit=crop&w=1500&q=80'"
      :alt="imageAlt || ''"
      :class="imageSizeType"
    >
  </div>
  <div class="heading">
    <span><!-- {{ str_limit($title, 45) }} -->{{ truncatedString(title || '', 45) }}</span>
  </div>
  <div class="summary">
    <!-- {{ str_limit($summary, 120) }} -->
    {{ truncatedString(summary || '', 120) }}
    <slot></slot>
  </div>
  <div class="action">
    <fw-link :href="href || ''" design="text" state="info" size="small" :icon="buttonIcon">
      {{ buttonText }}
    </fw-link>
  </div>
</div>
</template>

<script>
import '../../../sass/flat-world-theme/components/_cards.scss'
import LinkComponent from '../LinkComponent'

export default {
  data() {
    return {
      imageSizeType: ''
    }
  },
  components: {
    LinkComponent
  },
  props: {
    image: String,
    imageAlt: String,
    coverImage: Boolean,
    circleImage: Boolean,
    containImage: Boolean,
    title: String,
    summary: String,
    buttonText: String,
    buttonIcon: String,
    href: String,
  },
  methods: {
    truncatedString: function(str, length, ending) {
      if (length == null) {
        length = 100
      }
      if (ending == null) {
        ending = '...'
      }
      if (str.length > length) {
        return str.substring(0, length - ending.length) + ending
      }
      else {
        return str
      }
    },
    imageType() {
      if (this.coverImage == true) {
        this.imageSizeType =  'cover-image'
      } else if (this.circleImage == true) {
        this.imageSizeType =  'circle-image'
      } else if (this.containImage == true) {
        this.imageSizeType =  'contain-image'
      } else {
        this.imageSizeType =  ''
      }
    },
  },
  beforeMount() {
    this.imageType()
  }
}
</script>

<style lang="scss" scoped>
@import '../../../sass/flat-world-theme/components/cards';
</style>
