@import "../branding";

.alert {
	&.banner {
		z-index: 1000;
		position: fixed;
		bottom: 36px;
		right: 0;
		left: 0;
		display: grid;
		grid-template-columns: 46px 1fr 46px;
		grid-template-rows: 1fr;
		grid-template-areas: "icon message dismiss";
		width: calc(100% - 24px);
		max-width: 600px;
		height: auto;
		min-height: 48px;
		margin: 0 12px;
		padding: 0;
		border-radius: 6px;
		background-color: $white;
		box-shadow: 0px 24px 48px 0px rgba($grey-0, .25), 0px 0px 1024px 0px rgba($grey-0, .1);
		@media screen and (min-width: 768px) {
			left: auto;
			right: 24px;
			margin: 0;
		}
		.icon, .dismiss {
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
			font-size: 16px;
		}
		.icon {
			grid-area: icon;
			color: $white;
			border-radius: 6px 0 0 6px;
		}
		.dismiss {
			grid-area: dismiss;
			color: $text-primary;
			border-radius: 0 6px 6px 0;
		}
		.message {
			grid-area: message;
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: flex-start;
			width: 100%;
			height: 100%;
			padding: 14px 16px;
			span {
				color: $grey-40;
				font-size: 16px;
				font-weight: 500;
			}
			.title {
				color: $grey-40;
				font-size: 16px;
				font-weight: 700;
				text-transform: uppercase;
			}
			ul {
				list-style: none;
				margin: 6px 0 0;
				padding: 0;
				li {
					position: relative;
					padding: 0 0 0 12px;
					color: rgba($grey-40, .85);
					font-size: 14px;
					font-weight: 500;
					&:before {
						content: '';
						position: absolute;
						top: 50%;
						left: 0;
						width: 4px;
						height: 10px;
						background-image: url(data:image/svg+xml,%3Csvg%20width%3D%224%22%20height%3D%227%22%20viewBox%3D%220%200%204%207%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%3Cpath%20d%3D%22M0%207.76953C0%207.94531%200.078125%208.0625%200.234375%208.12109C0.390625%208.19922%200.546875%208.16016%200.664062%208.04297L3.18359%205.52344C3.26172%205.44531%203.30078%205.36719%203.30078%205.25C3.30078%205.15234%203.26172%205.05469%203.18359%204.97656L0.664062%202.45703C0.546875%202.33984%200.390625%202.32031%200.234375%202.37891C0.078125%202.45703%200%202.57422%200%202.73047V7.76953Z%22%20transform%3D%22translate%280%20-2%29%22%20fill%3D%22%23666666%22%20fill-opacity%3D%220.5%22/%3E%0A%3C/svg%3E%0A);
						background-size: cover;
						background-position: center;
						transform: translateY(-50%);
					}
				}
			}
		}
		@each $name, $state in $states {
			&.#{$name} {
				.icon {
					background-color: rgba($state, .75);
				}
				.message {
					background-color: rgba($state, .1);
				}
				.dismiss {
					background-color: rgba($state, .15);
					transition: 500ms ease-in-out;
					&:hover {
						background-color: rgba($state, .2);
						cursor: pointer;
						transition: 175 ease-in-out;
					}
				}
			}
		}
	}
}