@import '../branding';

.button {
	position: relative;
	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	padding: 9px 44px;
	background-color: $grey-80;
	border: 2px solid $grey-80;
	border-radius: 4px;
	color: $grey-50;
	font-family: $font-family-sans-serif;
	font-weight: 600;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	box-shadow: 0px 0px 0px 0px transparent;
	box-sizing: border-box;
	transition: 500ms ease-in-out;

	&-large {
		padding: 9px 44px;
		font-weight: 600;
		font-size: 16px;
	}

	&-normal {
		padding: 9px 44px;
		font-weight: 600;
		font-size: 16px;
	}

	&-small {
		padding: 7px 34px;
		font-weight: 700;
		font-size: 12px;
	}

	&:hover,
	&:active,
	&:focus {
		cursor: pointer;
		outline: none;
		transition: 175ms ease-in-out;
	}

	&-solid-fixMe,
	&-outline-fixMe,
	&-fixMe-fixMe {
		color: lime;
		background-color: red;
		border-color: blue;
	}

	@each $name,
	$state in $states {
		&-fixMe-#{$name} {
			color: lime;
			background-color: red;
			border-color: blue;
		}

		&-solid-#{$name} {
			@if $name=='warning' {
				color: mix($text-primary, $state, 70%);
			}

			@else {
				color: $white;
			}

			background-color: $state;
			border: 2px solid transparent;

			@if $name !='disabled' {
				&:hover {
					background-color: mix($state, $white, 90%);
					box-shadow: 0px 4px 16px 0px rgba($black, .05), 0px 4px 16px 0px rgba($state, .15);
				}

				&:focus {
					background-color: mix($state, $white, 70%);
					border: 2px dotted $white;
				}

				&:active {
					background-color: mix($state, $white, 80%);
					border: 2px dotted $white;
				}

				&:active,
				&:focus {
					box-shadow: 0px 2px 2px 0px rgba($black, .15);
				}
			}

			@else if $name=='disabled' {
				&:hover {
					cursor: not-allowed;
				}
			}
		}

		&-outline-#{$name} {
			@if $name=='warning' {
				color: mix($text-primary, $state, 50%);
			}

			@else {
				color: $state;
			}

			background-color: $white;
			border: 2px solid $state;

			@if $name !='disabled' {
				&:hover {
					background-color: mix($state, $white, 7%);
					box-shadow: 0px 4px 16px 0px rgba($black, .05), 0px 4px 16px 0px rgba($state, .15);
				}

				&:focus {
					background-color: mix($state, $white, 14%);
					border: 2px dotted $state;
				}

				&:active {
					background-color: mix($state, $white, 20%);
					border: 2px dotted $state;
				}

				&:active,
				&:focus {
					box-shadow: 0px 2px 2px 0px rgba($black, .15);
				}
			}

			@else if $name=='disabled' {
				&:hover {
					cursor: not-allowed;
				}
			}
		}

		&-text-#{$name} {
			@if $name=='warning' {
				color: mix($text-primary, $state, 40%);
			}

			@else {
				color: $state;
			}

			background-color: transparent;
			border: 2px solid transparent;
			padding-left: 8px;
			padding-right: 8px;

			@if ($state !='disabled') {
				&:hover {
					@if $name=='warning' {
						border-bottom: 2px solid rgba(mix($text-primary, $state, 40%), .45);
					}

					@else {
						border-bottom: 2px solid rgba($state, .25);
					}
				}

				&:focus {
					@if $name=='warning' {
						border: 2px dotted rgba(mix($text-primary, $state, 40%), .45);
					}

					@else {
						border: 2px dotted rgba($state, .5);
					}
				}

				&:active {
					@if $name=='warning' {
						border: 2px dotted rgba(mix($text-primary, $state, 40%), .45);
					}

					@else {
						border: 2px dotted rgba($state, .5);
					}

					background-color: mix($state, $white, 7%);
				}

				&:hover,
				&:focus,
				&:active {
					box-shadow: 0px 0px 0px 0px transparent;
				}
			}
		}
	}

	.overflow {
		position: absolute;
		top: calc(100% + 4px);
		left: -2px;
		min-width: calc(100% + 4px);
	}
}

.overflow {
	background-color: $white;
	border: 1px solid $grey-90;
	border-radius: 2px;

	.link {
		margin: 0;
		padding: 6px 10px;
		text-align: left;
	}
}
