@import '../branding';

.card {
    background-color: $white;
    box-shadow: 0px 2px 3px 0px rgba($grey-0, .1), 0px 8px 16px rgba($grey-0, .1);
    transition: 500ms ease-in-out;

    &:hover {
        box-shadow: 0px 4px 16px 0px rgba($grey-0, .1), 0px 8px 32px rgba($grey-0, .1);
        transition: 250ms ease-in-out;
    }

    &.blog {
        display: inline-flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-content: stretch;
        width: 100%;
        max-width: 300px;
        // height: 480px;
        margin: 0 16px 48px;
        padding: 0 0 16px;
        border-radius: 6px;

        .hero {
            width: 100%;
            height: 230px;
            margin: 0;
            overflow: hidden;
            background-color: $white;
            border-radius: 6px 6px 0 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
                opacity: .9;
                transform: scale(1.1);
                transition: 500ms ease-in-out;
            }
        }

        .headings {
            width: 100%;
            margin: 16px 0 24px;
            padding: 0 24px;

            .title {
                margin: 0 0 6px;
                color: $grey-40;
                font-size: 15px;
                font-weight: 700;
                text-align: left;
                text-transform: uppercase;
                line-height: 125%;
            }

            .meta {
                color: $grey-50;
                font-size: 10px;
                font-weight: 600;
                text-align: left;
                text-transform: uppercase;
                line-height: 125%;

                strong {
                    font-weight: 900;
                }
            }
        }

        .summary {
            width: 100%;
            margin: 0;
            padding: 0 24px;
            color: $grey-30;
            font-size: 13px;
            font-weight: 400;
            text-align: left;
            line-height: 175%;
        }

        .action {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: flex-end;
            flex-grow: 1;
            width: 100%;
            margin: 2rem 0 0;
        }

        &:hover {
            .hero {
                overflow: hidden;

                img {
                    opacity: 1;
                    transform: scale(1.095);
                    transition: 250ms ease-in-out;
                }
            }
        }
    }

    &.blog-admin {
        display: grid;
        grid-template-columns: 35% 1fr;
        grid-template-rows: 1fr 72px;
        grid-template-areas: "hero summary""hero actions";
        width: 100%;
        height: 220px;
        margin: 0 0 24px;
        border-radius: 6px;

        @media screen and (min-width: 991px) {
            width: calc(50% - 16px);
        }

        .hero {
            grid-area: hero;
            overflow: hidden;
            background-color: $white;
            border-radius: 6px 0 0 6px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
                opacity: .9;
                transform: scale(1.1);
                transition: 500ms ease-in-out;
            }
        }

        .summary {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 0;
            padding: 16px 24px;

            .title {
                color: $grey-40;
                font-size: 15px;
                font-weight: 600;
                text-transform: uppercase;
            }

            .meta {
                color: $grey-60;
                font-size: 10px;
                font-weight: 600;

                strong {
                    font-weight: 900;
                }

                &:last-child {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-start;
                    align-items: flex-end;
                    flex-grow: 1;
                    margin: 16px 0 0;

                    @media screen and (min-width: 768px) {
                        margin: 0;
                    }
                }
            }
        }

        .actions {
            grid-area: actions;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            align-items: flex-start;
            padding: 0 24px;

            a {
                margin: 8px 0;

                @media screen and (min-width: 768px) {
                    margin: 0;
                }
            }

            @media screen and (min-width: 768px) {
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
                padding: 0 24px;
            }
        }

        &:hover {
            .hero {
                overflow: hidden;

                img {
                    opacity: 1;
                    transform: scale(1.095);
                    transition: 250ms ease-in-out;
                }
            }
        }
    }

    &.general {
        display: inline-flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-content: stretch;
        width: 100%;
        max-width: 300px;
        // height: 480px;
        margin: 0 16px 48px;
        padding: 16px 0;
        border-radius: 6px;

        .hero {
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 200px;
            margin: 0;
            overflow: hidden;
            background-color: $white;
            border-radius: 6px 6px 0 0;

            img {
                width: auto;
                height: 100%;
                // object-position: center center;
                opacity: .9;
                transform: scale(.85);
                transition: 500ms ease-in-out;

                // @media not all and (-ms-high-contrast: none), not all(-ms-high-contrast: active) {
                //     &.cover-image {
                //         transform: scale(1) !important;
                //         object-fit: cover;
                //     }

                //     &.circle-image {
                //         object-fit: contain;
                //         border-radius: 100%;
                //         width: 200px;
                //         height: 200px;
                //     }

                //     &.contain-image {
                //         object-fit: contain;
                //     }
                // }

                // @media all and (-ms-high-contrast: none),
                // (-ms-high-contrast: active) {
                &.cover-image {
                    position: abolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                }

                &.circle-image {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    border-radius: 100%;
                    width: 200px;
                    height: 200px;
                }

                &.contain-image {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                // }
            }
        }

        .heading {
            width: 100%;
            margin: 16px 0 8px;
            padding: 0 24px;
            line-height: 175%;
            color: $grey-40;
            font-size: 16px;
            font-weight: 900;
            text-align: center;
            text-transform: uppercase;
        }

        .summary {
            width: 100%;
            margin: 0;
            padding: 0 24px;
            color: $grey-30;
            font-size: 17px;
            font-weight: 400;
            text-align: center;
            line-height: 175%;
        }

        .action {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: flex-end;
            flex-grow: 1;
            width: 100%;
            margin: 2rem 0 0;
        }

        &:hover {
            .hero {
                overflow: hidden;

                img {
                    opacity: 1;
                    transition: 250ms ease-in-out;
                }
            }
        }
    }

    &.file {
        display: inline-grid;
        grid-template-columns: 56px 1fr 48px;
        grid-template-rows: 100px;
        grid-template-areas: "icon summary action";
        width: 100%;
        max-width: 300px;
        height: 100px;
        margin: 0 0 12px;
        border-radius: 6px;

        .icon {
            grid-area: icon;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            background-color: rgba($info, .05);
            color: rgba($grey-40, .75);
            font-size: 24px;
            text-align: center;
        }

        .summary {
            grid-area: summary;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 16px 8px 16px 16px;
            line-height: 125%;

            .filename {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: flex-start;
                flex-grow: 1;
                color: $grey-40;
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                text-align: left;
            }

            .filesize {
                margin: 0;
                color: $grey-50;
                font-size: 11px;
                font-weight: 900;
                text-transform: uppercase;
            }

            .filetype {
                color: $grey-50;
                font-size: 10px;
                font-weight: 600;
            }
        }

        .action {
            grid-area: action;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
        }
    }
}

// .card {
//     display: inline-block;
//     position: relative;
//     background-color: transparent;
//     border: 1px solid $grey-80;
//     border-radius: $border-radius;
//     overflow: hidden;
//     margin: 0;
//     padding: 0;
//     transition: $transition-350;
//     &.hasShadow {
//         @include boxShadowStatic;
//     }
//     &.isAnimated {
//         transform: translateY(0);
//         opacity: .85;
//         &:hover {
//             transform: translateY(-1px);
//             opacity: 1;
//             @include boxShadowHover;
//             transition: $transition-250;
//         }
//     }
//     &.heroOnly {
//         display: inline-grid;
//         grid-template-columns: 1fr;
//         grid-template-rows: 1fr;
//         grid-template-areas: "hasHero";
//     }
//     .noHero {
//         display: inline-grid;
//         grid-template-columns: 1fr;
//         grid-template-rows: 1fr;
//         grid-template-areas: "cardContent";
//     }
//     &.header {
//         display: inline-grid;
//         grid-template-columns: 1fr;
//         grid-template-rows: 55% auto;
//         grid-template-areas: "hasHero" "cardContent";
//     }
//     &.sidebar {
//         display: inline-grid;
//         grid-template-columns: 45% 1fr;
//         grid-template-rows: 1fr;
//         grid-template-areas: "hasHero cardContent";
//         @media only screen and (max-width: 480px) {
//             grid-template-columns: 1fr;
//             grid-template-rows: 30rem auto;
//             grid-template-areas: "hasHero" "cardContent";
//         }
//     }
//     &.tag {
//         width: fit-content;
//         height: auto;
//         padding: .5rem 1rem;
//     }
//     &.extraSmall {
//         width: 100%;
//         max-width: 10rem;
//         height: 100%;
//         max-height: 12.5rem;
//         display: inline-flex;
//         flex-direction: column;
//         justify-content: flex-start;
//         align-content: center;
//     }
//     &.small {
//         width: 100%;
//         max-width: 14rem;
//         min-height: 12rem;
//         height: auto;
//         display: inline-flex;
//         flex-direction: column;
//         justify-content: flex-start;
//         align-content: center;
//         &.header {
//             display: inline-grid;
//             grid-template-rows:  10rem 1fr;
//         }
//     }
//     &.medium {
//         width: 100%;
//         max-width: 24rem;
//         height: auto;
//         &.header {
//             grid-template-rows:  18rem auto;
//         }
//     }
//     &.large {
//         width: 100%;
//         max-width: 32rem;
//         min-height: 40rem;
//         &.header {
//             grid-template-rows:  22rem auto;
//         }
//     }
//     &.extraLarge {
//         width: 100%;
//         max-width: 65rem;
//         min-height: 50rem;
//         &.header {
//             grid-template-rows:  28rem auto;
//         }
//     }
//     .hasHero {
//         grid-area: hasHero;
//         position: relative;
//         background-color: transparent;
//         @include setFlex(row, nowrap, unset, center, center);
//         .insetImage {
//             align-self: center;
//             width: auto;
//             max-width: 100%;
//             height: auto;
//             max-height: 65%;
//             margin: 0 1rem;
//         }
//     }
//     .cardContent {
//         grid-area: cardContent;
//         display: flex;
//         flex-basis: auto;
//         flex-direction: column;
//         justify-content: flex-start;
//         align-items: center;
//         flex-grow: 1;
//         width: 100%;
//         height: 100%;
//         padding: 2rem 1.5rem;
//         background-color: $white;
//         .timestamp {
//             @include setFlex(row, nowrap, unset, center, center);
//             align-self: flex-end;
//             width: 100%;
//             height: auto;
//             margin: 0;
//             padding: 0;
//             color: $text-primary;
//             font-size: 1rem;
//             font-weight: 800;
//             text-align: center;
//         }
//         &__heading {
//             width: 100%;
//             margin: 0;
//             padding: 0;
//             @include setFlex(column, nowrap, unset, center, center);
//         }
//         &__divider {
//             width: 100%;
//             height: 1px;
//             margin: 1rem 0;
//             border-top: 1px solid $grey-80;
//         }
//         &__text {
//             width: 100%;
//             height: auto;
//             flex-grow: 1;
//             &.icon {
//                 font-size: 2.75rem;
//                 text-align: center;
//             }
//         }
//         &__footer {
//             @include setFlex(row, nowrap, unset, center, center);
//             width: 100%;
//             text-align: center;
//         }
//         &__action {
//             @include setFlex(row, nowrap, unset, center, center);
//             width: 100%;
//             padding: 0;
//             font-size: .95rem;
//             font-weight: 700;
//             text-transform: uppercase;
//             text-align: center;
//         }
//     }
//     &__featureIcon {
//         width: 10rem;
//         height: 10rem;
//         margin: .75rem 0;
//         display: flex;
//         flex-basis: auto;
//         flex-direction: row;
//         justify-content: center;
//         align-items: center;
//         font-size: 4rem;
//         color: $text-primary;
//         border: .25rem solid $text-primary;
//         border-radius: 100%;
//     }
//     &__documentIcon {
//         width: 4rem;
//         height: 4rem;
//         margin: 1.25rem 0;
//         display: flex;
//         flex-basis: auto;
//         flex-direction: row;
//         justify-content: center;
//         align-items: center;
//         font-size: 2.75rem;
//         color: $text-primary;
//     }
// }


// .adminControls {
//     @include setFlex(row, wrap, unset, center, center);
//     align-self: flex-start;
//     width: 100%;
//     height: 100%;
//     margin: 0;
//     padding: 4rem 2rem;
//     background-color: rgba($grey-30, .75);
//     transition: $transition-500;
//     &:hover {
//         background-color: rgba($white, .85);
//         transition: $transition-250;
//         .adminControls__button {
//             color: $text-primary;
//         }
//         .company-name {
//             color: $text-primary;
//         }
//     }
//     .company-name {
//         width: 100%;
//         color: $white;
//         font-size: 1rem;
//         font-weight: 800;
//         text-align: center;
//         text-transform: uppercase;
//     }
//     &__button {
//         margin: 1.25rem;
//         font-size: 2.25rem;
//         color: $white;
//         &.edit, &.delete {
//             @include setFlex(row, nowrap, unset, flex-start, center);
//             transition: $transition-500;
//             &:hover {
//                 text-decoration: none;
//                 cursor: pointer;
//             }
//         }
//         &.edit {
//             transition: $transition-250;
//             &:hover {
//                 color: $blue;
//             }
//         }
//         &.delete {
//             transition: $transition-250;
//             &:hover {
//                 color: $red;
//             }
//         }
//         &.confirmDelete {
//             margin: 0;
//             padding: 0 0 0 1.25rem;
//             border-left: 1px solid $text-primary;
//             font-size: 1rem;
//             font-weight: 800;
//             text-decoration: none;
//             text-transform: uppercase;
//             a:link, a:hover, a:visited {
//                 color: inherit;
//                 text-decoration: none;
//             }
//             .confirmYes {
//                 transition: $transition-500;
//                 text-decoration: none;
//                 margin: 0 .5rem 0 0;
//                 &:hover {
//                     color: $red;
//                     cursor: pointer;
//                     transition: $transition-250;
//                 }
//             }
//             .confirmNo {
//                 transition: $transition-500;
//                 &:hover {
//                     color: $blue;
//                     cursor: pointer;
//                     transition: $transition-250;
//                 }
//             }
//         }
//     }
// }
