@import '../branding';
@import '../mixins';

$input-types: (
	text: text,
	number: number,
	date: date,
	tel: tel,
	email: email,
	password: password,
	file: file,
)	!default;

$input-states: (
	static: $info,
	success: $success,
	error: $critical,
)	!default;

.form-group {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    @include setFlex(row, nowrap, unset, flex-start, flex-start);
    @media screen and (max-width: 480px) {
        @include setFlex(column, nowrap, unset, flex-start, flex-start);
	}
	@each $name, $input in $input-types {
		input[type=#{$name}], select, textarea {
			position: relative;
			display: inline-block;
			appearance: none;
			width: 100%;
			padding: 10px 14px;
			background-color: $white;
			border: 2px solid rgba($info, .5);
			border-radius: 4px;
			outline: none;
			color: $text-primary;
			font-size: 14px;
			font-family: $font-family-sans-serif;
			font-weight: 500;
			box-sizing: border-box;
			transition: 500ms ease-in-out;
			&::placeholder {
				color: rgba(166, 166, 166, 1);
			}
			&:hover, &:active, &:focus {
				transition: 175ms ease-in-out;
			}
			&:hover {
				background-color: mix($info, $white, 3%);
			}
			&:active, &:focus {
				background-color: mix($info, $white, 7%);
				border: 2px dotted rgba($info, .5);
			}
		}
	}
	@each $name, $input in $input-types {
		input[type=#{$name}] {
			height: 41px;
		}
	}
	select {
		background: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.46875 11C4.59375 11.1562 4.78125 11.2188 5 11.2188C5.1875 11.2188 5.375 11.1562 5.53125 11L9.78125 6.75C9.90625 6.625 10 6.4375 10 6.21875C10 6.03125 9.90625 5.84375 9.78125 5.6875L9.0625 5C8.90625 4.875 8.71875 4.78125 8.53125 4.78125C8.3125 4.78125 8.125 4.875 8 5L5 8L2 5C1.84375 4.875 1.65625 4.78125 1.46875 4.78125C1.25 4.78125 1.0625 4.875 0.9375 5L0.21875 5.6875C0.0625 5.84375 0 6.03125 0 6.21875C0 6.4375 0.0625 6.625 0.21875 6.75L4.46875 11Z' transform='translate%280 -4%29' fill='%23808080'/%3E%3C/svg%3E%0A") no-repeat;
		background-size: auto 28%;
		background-position: calc(100% - 8px) center;
		background-color: $white;
	}
	input[type=checkbox], input[type=radio] {
		appearance: none;
		position: relative;
		background-color: $white;
		border: 2px solid rgba($info, .5);
		border-radius: 4px;
		outline: none;
		padding: 8px;
		transition: 500ms ease-in-out;
		&:hover, &:active, &:focus, &:checked {
			transition: 175ms ease-in-out;
		}
		&:hover {
			background-color: mix($info, $white, 3%);
		}
		&:active, &:focus {
			background-color: mix($info, $white, 7%);
			border: 2px dotted rgba($info, .5);
		}
		&:checked {
			&::before {
				position: absolute;
				transform: translate(-52%, -52%);
				font-family: 'Font Awesome 5';
				font-size: .85rem;
				font-style: normal;
				font-weight: 900;
				color: $brand-primary;
			}
		}
	}
	input[type=checkbox] {
		&:checked {
			&::before {
				margin: 0;
				padding: 0;
				content: '\f00c';
			}
		}
	}
	input[type=radio] {
		border-radius: 100%;
		&:checked {
			&::before {
				margin: 0;
				padding: 0;
				content: '\f111';
			}
		}
	}
	label {
		.label-text {
			display: inline-block;
			padding: 0 24px 5px 4px;
			color: $grey-40;
			font-size: 13px;
			font-weight: 700;
			text-transform: uppercase;
		}
		&.checkbox, &.radio {
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-start;
			align-items: center;
			width: auto;
			max-width: fit-content;
			.label-text {
				padding: 0 0 0 6px;
			}
		}
		@each $name, $state in $input-states {
			&.#{$name} {
				input, select, textarea {
					border: 2px solid rgba($state, .5);
					&:hover {
						background-color: mix($state, $white, 3%);
					}
					&:active, &:focus {
						background-color: mix($state, $white, 7%);
						border: 2px dotted rgba($state, .5);
					}
				}
			}
		}
		input, select, textarea {
			&:disabled {
				border: 2px solid $grey-80;
				background-color: rgba($grey-90, .35);
				color: rgba(166, 166, 166, 1);
				pointer-events: none;
			}
		}
	}
	fieldset, label {
		position: relative;
		width: 100%;
		margin: 0;
		padding: 12px;
		border: none;
		box-sizing: border-box;
		&.error, &.success {
			&::before {
				z-index: 1;
				position: absolute;
				top: 12px;
				right: 16px;
				font-family: 'Font Awesome 5';
				font-size: 16px;
				font-weight: 400;
			}
		}
		&.error {
			background-color: rgba($critical, .05);
			&::before {
				content: '\f06a';
				color: $critical;
			}
		}
		&.success {
			background-color: rgba($success, .05);
			&::before {
				content: '\f00c';
				color: $success;
			}
		}
	}
	fieldset {
		label {
			padding: 0;
		}
	}
}

form {
	max-width: 800px;
	margin: auto auto;
}

.pallet-specs, .crate-specs {
	display: flex;
	flex-flow: row nowrap;
	input, select {
		margin: 0 6px;
		&:first-child {
			margin: 0 6px 0 0;
		}
		&:last-child {
			margin: 0 0 0 6px;
		}
	}
    @media screen and (max-width: 480px) {
		flex-flow: column nowrap;
		input, select {
			margin: 6px 0;
			&:first-child {
				margin: 0 0 6px 0;
			}
			&:last-child {
				margin: 6px 0 0 0;
			}
		}
	}
}

.alternate-backgrounds {
	> div {
		margin: 12px 0;
		padding: 12px 0;
		border-radius: 4px;
	}
	> div:nth-child(even) {
		background-color: rgba($brand-primary, .05);
		border: 2px solid rgba($brand-primary, .1);
	}
	> div:nth-child(odd) {
		background-color: rgba($brand-primary, .02);
		border: 2px solid rgba($brand-primary, .08);
	}
	> div:last-child {
		margin: 0;
		padding: 0;
		background-color: none;
		border: none;
	}
}