@import '../branding';

.modal-group {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  z-index: 100;

  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;

  padding: 24px 12px;

  &.container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: hsla(220,7,98,.95);
    backdrop-filter: blur(12px);
  }

  .modal {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 64px 1fr 64px;
    grid-template-areas: 'modalHeader' 'modalBody' 'modalFooter';

    min-width: 800px;
    max-width: 1024px;
    width: fit-content;
    max-height: calc(100vh - 96px);

    background-color: $white;
    border-radius: 6px;

    box-shadow: 0px 16px 48px -12px rgba($black, .2);

    @media only screen and (max-width: 840px) {
      min-width: 100%;
    }

    &-toggle {
      color: rgba(102, 102, 102, 1);
      transition: 350ms ease-in-out;

      &:hover {
        cursor: pointer;
        color: rgba($red, .75);
        transition: 350ms ease-in-out;
      }
    }

    header {
      grid-area: modalHeader;
      position: relative;

      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      width: 100%;

      padding: 18px 24px;

      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: rgba(102, 102, 102, 1);

      &::after {
        content: '';
        position: absolute;
        right: 24px;
        bottom: 0;
        left: 24px;

        width: calc(100% - (24px * 2));
        height: 2px;

        background-color: rgba($brand-primary, .15);
      }
    }

    .modalContent {
      grid-area: modalBody;

      flex-grow: 1;
      padding: 16px 24px;
      overflow-y: auto;
    }

    footer {
      grid-area: modalFooter;

      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;

      width: 100%;

      padding: 18px;

      background-color: rgba($brand-primary, .04);
    }
  }
}