.signature-card {
	position: relative;
	display: inline-flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	max-width: 600px;
	margin: 0 16px 24px;
	padding: 24px 42px;
	background: $white;
	border: 1px solid #E8F4FC;
	box-sizing: border-box;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05), 0px 18px 24px rgba(0, 0, 0, 0.075);
	border-radius: 12px;
	.new-signature {
		color: rgba(52, 139, 183, 1);
		text-decoration: none;
		border: none;
		transition: 500ms ease-in-out;
		&:hover {
			color: darken(rgba(52, 139, 183, 1), 10%);
			transition: 175ms ease-in-out;
		}
	}
	.delete-signature-card {
		position: absolute;
		top: 18px;
		right: 8px;
	}
	* {
		&::-moz-selection {
			background-color: rgba($yellow, .5);
		}
		&::selection {
			background-color: rgba($yellow, .5);
		}
	}
}