@import '../branding';

.tag {
	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	width: auto;
	height: 18px;
	padding: 0 24px;
	background-color: $grey-100;
	border-radius: 4px;
	color: rgba($grey-40, .75);
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
	@each $name, $state in $states {
		&.#{$name} {
			background-color: mix($state, $white, 15%);
		}
	}
}