.tippy-tooltip.trackingCard-theme {
  font-size: 12px;
  font-weight: 900;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(108, 117, 125, 1);

  box-shadow: 0px 4px 10px 0px hsla(0, 0, 0, .15), 0px 2px 4px 0px hsla(0, 0, 0, .1);

  a {
    font-weight: 700;
    color: hsla(0, 0, 100, 1);
    text-decoration: none;
    transition: 250ms ease-in-out;

    &:hover {
      color: hsla(0, 0, 100, .85);
      text-decoration: none;
      transition: 250ms ease-in-out;
    }
  }
}

.tippy-popper[x-placement^=top] .tippy-tooltip.trackingCard-theme .tippy-arrow {
  border-top: 7px solid rgba(108, 117, 125, 1);
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.trackingCard-theme .tippy-arrow {
  border-bottom: 7px solid rgba(108, 117, 125, 1);
}