.userProfileGrid {
	max-width: 30rem;
	width: 100%;
	margin: 1rem auto;
	.row {
		display: flex;
		flex-flow: row nowrap;
		justify-content: stretch;
		align-items: center;
		margin: 4px 0;
		padding: 0 24px;
		border-radius: 3px;
		transition: $transition-500;
		&:nth-child(even) {
			background-color: rgba($blue, .03);
		}
		&:hover {
			background-color: rgba($blue, .1);
			transition: $transition-250;
		}
		> div {
			display: flex;
			flex-flow: row nowrap;
			padding: 12px 0;
		}
		&Title{
			justify-content: flex-start;
			text-align: left;
			flex-grow: 1;
			font-size: .9rem;
			font-weight: 400;
			text-transform: uppercase;
			color: $grey-30;
		}
		&Value {
			justify-content: flex-end;
			text-align: right;
			flex-grow: 1;
			font-weight: 600;
			color: $brand-primary;
		}
	}
}

.userManagementCompact {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		'avatar userInfo controls'
		'avatar userInfo controls';
	width: 100%;
	max-width: 48rem;
	margin: 8px auto;
	padding: 16px;
	background-clip: $white;
	border: 1px solid $grey-90;
	border-radius: 3px;
	box-shadow: $box-shadow__static;
	transition: $transition-500;
	.avatar {
		grid-area: avatar;
		width: 64px;
		height: 64px;
		border-radius: 100%;
		overflow: hidden;
		border: 4px solid $white;
		object-fit: cover;
		object-position: center;
	}
	.userInfo {
		grid-area: userInfo;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: flex-start;
		padding: 0 16px;
		.user {
			font-size: 16px;
			font-weight: 400;
		}
		.roles {
			font-size: 11px;
			font-weight: 800;
			text-transform: uppercase;
			margin: 0 0 5px;
		}
		.company {
			font-size: 12px;
			font-weight: 500;
		}
	}
	.controls {
		grid-area: controls;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		// padding: 0 16px;
		justify-content: center;
		align-items: center;
		.text-btn {
			font-size: 16px;
		}
	}
}

.userManagementDetails {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: stretch;
	width: 100%;
	max-width: 50rem;
	margin: 0 auto;
	padding: 0;
	border: 1px solid $grey-90;
	border-radius: 2px;
	box-shadow: $box-shadow__static;
	&Header {
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: center;
		margin: 0;
		padding: 24px 32px;
		@media screen and (min-width: 769px) {
			flex-flow: row nowrap;
		}
		.avatar {
			width: 128px;
			height: 128px;
			border-radius: 100%;
			overflow: hidden;
			border: 4px solid $white;
			object-fit: cover;
			object-position: center;
			@media screen and (min-width: 769px) {
				width: 84px;
				height: 84px;
			}
		}
		span {
			margin: 24px 0 0 0;
			font-size: 24px;
			font-weight: 400;
			text-align: center;
			@media screen and (min-width: 769px) {
				flex-flow: row nowrap;
				margin: 0 0 0 32px;
				text-align: left;
			}
		}
	}
	&Content {
		padding: 0 32px;
	}
	&Footer {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;
		align-items: center;
		margin: 0;
		padding: 24px 32px;
		background-color: mix($grey-90, $grey-100);
		border-radius: 0 0 2px 2px;
	}
}