<template>
	<button
		:role="role"
		:type="type"
		:value="value"
		:form="form"
		:class="'button button-' + (design || 'fixMe') + '-' + (state || 'fixMe') + ' button-' + (size || 'fixMe')">

		<font-awesome-icon :icon="['fas', icon]" v-if="icon && emptySlotData" fa-fw></font-awesome-icon>

		<font-awesome-icon :icon="['fas', icon]" v-if="icon && hasSlotData" style="margin: 0 8px 0 0;" fa-fw></font-awesome-icon>

		<slot></slot>
	</button>
</template>

<script>
import '../../sass/flat-world-theme/components/_buttons.scss'
import { library } from '@fortawesome/fontawesome-svg-core'
import { fas } from '@fortawesome/pro-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add(fas)

export default {
  components: {
    'font-awesome-icon': FontAwesomeIcon
	},

	props: {
		role: {
			type:String,
			default: null
		},
		type: {
			type:String,
			default: null
		},
		value: {
			type:String,
			default: null
		},
		form: {
			type:String,
			default: null
		},
		design: {
			type:String,
			default: null
		},
		state: {
			type:String,
			default: null
		},
		size: {
			type:String,
			default: null
		},
		icon: {
			type:String,
			default: null
		}
	},

	computed: {
		hasSlotData() {
			return this.$slots.default
		},

		emptySlotData() {
			return !this.$slots.default
		}
	}
}
</script>

<style lang="scss" scoped>
@import '../../sass/flat-world-theme/components/buttons';
</style>
