<template>
  <section>
    <transition name="fade">
      <div class="loading" v-if="isLoading">
        <!-- By Sam Herbert (@sherb), for everyone. More @ http://goo.gl/7AJzbL -->
        <svg
          width="38"
          height="38"
          viewBox="0 0 38 38"
          xmlns="http://www.w3.org/2000/svg"
          stroke="rgba(0, 130, 200, 0.5)"
        >
          <g fill="none" fill-rule="evenodd">
            <g transform="translate(1 1)" stroke-width="2">
              <circle stroke-opacity="0.5" cx="18" cy="18" r="18" />
              <path d="M36 18c0-9.94-8.06-18-18-18">
                <animateTransform
                  attributeName="transform"
                  type="rotate"
                  from="0 18 18"
                  to="360 18 18"
                  dur="1s"
                  repeatCount="indefinite"
                />
              </path>
            </g>
          </g>
        </svg>
      </div>
    </transition>

    <div class="control-heading" ref="heading">
      <div>
        <h1>{{ pageTitle }}</h1>
      </div>

      <div class="heading-buttons" :style="{pointerEvents: isLoading ? `none` : `auto`}">
        <fw-button
          v-if="careerId"
          design="outline"
          state="success"
          size="small"
          icon="check"
          type="button"
          role="submit"
          @click.native="saveChanges"
        >Save Changes</fw-button>

        <fw-button
          v-if="!careerId"
          design="outline"
          state="success"
          size="small"
          icon="check"
          type="button"
          role="submit"
          @click.native="publish"
        >Publish</fw-button>
      </div>
    </div>

    <div id="half-one" ref="halfOne">
      <div>
        <TextInputGroup
          label="Title"
          placeholder="Awesome job title"
          :value="title"
          :error-bag="errorBag ? errorBag.title : null"
          @change="setTitle"
          :required="true"
          :disabled="!careerId && !title"
        />
        <TextAreaGroup
          label="Short Description"
          placeholder="Enter a short description to show on the career card."
          :value="shortDescription"
          :error-bag="errorBag ? errorBag.short_description : null"
          @change="setShortDescription"
          :required="true"
          rows="5"
          :disabled="!careerId && !shortDescription"
        />
        <TextAreaGroup
          label="Long Description"
          placeholder="Here's where all the good stuff goes."
          :value="longDescription"
          :error-bag="errorBag ? errorBag.long_description : null"
          @change="setLongDescription"
          :required="true"
          rows="20"
          :disabled="!careerId && !longDescription"
        />
        <RadioInputGroup
          label="Published"
          :value="published"
          @change="setPublished"
          :required="true"
          :radio-array="radiosArray"
          :error-bag="errorBag ? errorBag.published : null"
          :disabled="!careerId && !longDescription"
        />
      </div>
    </div>

    <div id="half-two" ref="halfTwo">
      <h1 :class="title ? '' : 'text-muted'" style="margin: 0 0 16px;">{{ title || 'Career Title' }}</h1>

      <h3
        :class="shortDescription ? '' : 'text-muted'"
        style="margin: 0 0 32px;"
      >{{ shortDescription || 'Short career description' }}</h3>

      <hr />

      <vue-markdown
        :class="longDescription ? '' : 'text-muted'"
        class="markdown"
        :source="longDescription || 'Long career descriptoin'"
      ></vue-markdown>
    </div>
  </section>
</template>

<script>
import anime from "animejs";

export default {
  name: `career-admin`,

  props: {
    pageTitle: {
      type: String,
      default: null
    },

    careerId: {
      type: String,
      default: null
    }
  },

  data() {
    return {
      isLoading: false,
      title: ``,
      published: ``,
      shortDescription: ``,
      longDescription: ``,
      errorBag: null,
      radiosArray: [
        {
          title: `Yes`,
          value: `1`
        },
        {
          title: `No`,
          value: `0`
        }
      ]
    };
  },

  components: {
    TextAreaGroup: () =>
      import(
        /* webpackChunkName: "js/TextAreaGroup" */
        `./inputs/TextAreaGroup`
      ),

    TextInputGroup: () =>
      import(
        /* webpackChunkName: "js/TextInputGroup" */
        `./inputs/TextInputGroup`
      ),

    RadioInputGroup: () =>
      import(
        /* webpackChunkName: "js/RadioInputGroup" */
        `./inputs/RadioInputGroup`
      ),

    VueMarkdown: () =>
      import(
        /* webpackChunkName: "js/VueMarkdown" */
        `vue-markdown`
      ).then(VueMarkdown => VueMarkdown)
  },

  methods: {
    setLoadingState(bool, duration) {
      this.isLoading = bool;

      let heading = this.$refs.heading;
      let one = this.$refs.halfOne;
      let two = this.$refs.halfTwo;

      if (bool) {
        anime({
          targets: [heading, one, two],
          opacity: 0.35,
          filter: [`blur(4px)`],
          duration: duration,
          easing: `easeOutCirc`
        });
      } else if (!bool) {
        anime({
          targets: [heading, one, two],
          opacity: 1,
          filter: [`blur(0px)`],
          duration: duration,
          easing: `easeOutCirc`
        });
      }
    },

    setTitle(text) {
      this.title = text;
    },

    setPublished(value) {
      this.published = value;
    },

    setShortDescription(text) {
      this.shortDescription = text;
    },

    setLongDescription(text) {
      this.longDescription = text;
    },

    getCareer(careerId) {
      axios.get(`/api/career/${careerId}`).then(res => {
        this.title = String(res.data.career.title);
        this.published = String(res.data.career.published);
        this.shortDescription = String(res.data.career.short_description);
        this.longDescription = String(res.data.career.long_description);

        setTimeout(() => {
          this.setLoadingState(false, 500);
        }, 750);
      });
    },

    publish() {
      this.errorBag = null;
      this.setLoadingState(true, 500);

      let form = new FormData();
      form.append(`_method`, `POST`);
      form.append(`title`, this.title);
      form.append(`published`, this.published);
      form.append(`short_description`, this.shortDescription);
      form.append(`long_description`, this.longDescription);

      axios
        .post(`/api/career`, form, {
          headers: {
            "Content-Type": `multipart/form-data`
          }
        })
        .then(res => {
          if (res.data.errorBag) {
            this.errorBag = res.data.errorBag;
            this.title = res.data.oldInput.title;
            this.published = res.data.oldInput.published;
            this.shortDescription = res.data.oldInput.shortDescription;
            this.longDescription = res.data.oldInput.longDescription;

            console.log(this.errorBag);

            this.setLoadingState(false, 250);
          } else {
            setTimeout(() => {
              window.location.href = `/admin/career`;
            }, 250);
          }
        })
        .catch(e => console.log(e));
    },

    saveChanges() {
      this.errorBag = null;
      this.setLoadingState(true, 500);

      let form = new FormData();
      form.append(`_method`, `PATCH`);
      form.append("id", this.careerId);
      form.append(`title`, this.title);
      form.append(`published`, this.published);
      form.append(`short_description`, this.shortDescription);
      form.append(`long_description`, this.longDescription);

      axios
        .post(`/api/career/${this.careerId}`, form, {
          headers: {
            "Content-Type": `multipart/form-data`
          }
        })
        .then(res => {
          if (res.data.errorBag) {
            this.errorBag = res.data.errorBag;

            console.log(this.errorBag);

            this.setLoadingState(false, 250);
          } else {
            setTimeout(() => {
              window.location.href = `/admin/career`;
            }, 250);
          }
        })
        .catch(e => console.log(e));
    }
  },

  mounted() {
    if (this.careerId) {
      this.getCareer(this.careerId);
      this.setLoadingState(true, 0);
    }
  }
};
</script>

<style lang="scss" scoped>
section {
  position: relative;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.loading {
  position: absolute;

  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
}

.control-heading {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  margin: 0 0 48px;
  padding: 0 12px;

  h1 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

#half-one {
  width: 50%;
  padding: 0 48px 0 0;

  @media screen and (max-width: 991px) {
    width: 100%;
    padding: 0;
  }
}

#half-two {
  max-height: 90vh;
  width: 50%;

  padding: 27px 24px 0 0;

  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(229, 229, 229, 1);
    border: 3px solid rgba(255, 255, 255, 1);
    border-radius: 6px;
  }

  @media screen and (max-width: 991px) {
    width: 100%;

    margin: 96px 0;
    padding: 0 12px;

    max-height: 100%;
  }
}

.text-muted {
  opacity: 0.35;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 175ms;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
