<template>
  <span>
    <font-awesome-icon :icon="['fas', icon]" fa-fw></font-awesome-icon>
  </span>
</template>

<script>
import { library } from "@fortawesome/fontawesome-svg-core";
import { fas } from "@fortawesome/pro-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";

library.add(fas);

export default {
  components: {
    "font-awesome-icon": FontAwesomeIcon
  },

  props: {
    icon: {
      type: String,
      default: "chess-board"
    }
  }
};
</script>

<style scoped>
</style>