<template>
	<a
	:href="href || '#'"
	:target="target || false"
	:class="'button button-' + (design || 'fixMe') + '-' + (state || 'fixMe') + ' button-' + (size || 'fixMe')">

		<font-awesome-icon :icon="['fas', icon]" v-if="icon && emptySlotData" fa-fw></font-awesome-icon>

		<font-awesome-icon :icon="['fas', icon]" v-if="icon && hasSlotData" style="margin: 0 8px 0 0;" fa-fw></font-awesome-icon>

		<slot></slot>
	</a>
</template>

<script>
import '../../sass/flat-world-theme/components/_buttons.scss'
import { library } from  '@fortawesome/fontawesome-svg-core'
import '@fortawesome/pro-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

export default {
	components: {
		'font-awesome-icon': FontAwesomeIcon
	},

	props: {
		href: String,
		target: String,
		design: String,
		state: String,
		size: String,
		icon: String
	},

	computed: {
		hasSlotData() {
			return this.$slots.default
		},

		emptySlotData() {
			return !this.$slots.default
		}
	}
}
</script>

<style lang="scss" scoped>
@import '../../sass/flat-world-theme/components/buttons';
</style>
