<template>
  <section :class="`alert banner ${state}`" v-if="isVisible" ref="alert" style="opacity: 0;">
    <div class="icon">
      <span>
        <font-awesome-icon :icon="['fas', icon]" fa-fw></font-awesome-icon>
      </span>
    </div>

    <div class="message">
      <span>{{ message }}</span>
    </div>

    <div class="dismiss" @click="closeAlert">
      <font-awesome-icon icon="times" fa-fw></font-awesome-icon>
    </div>
  </section>
</template>

<script>
import "../../../sass/flat-world-theme/components/_banners.scss";
import anime from "animejs";
import { library } from "@fortawesome/fontawesome-svg-core";
import {
  faExclamationTriangle,
  faThumbsUp,
  faInfoCircle
} from "@fortawesome/pro-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";

library.add(faExclamationTriangle, faThumbsUp, faInfoCircle);

export default {
  name: "general-alert",

  components: {
    "font-awesome-icon": FontAwesomeIcon
  },

  props: {
    state: {
      type: String,
      default: "disabled"
    },
    icon: {
      type: String,
      default: "chess-board"
    },
    message: {
      type: String,
      default: ""
    },
    active: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return {
      isVisible: this.active
    };
  },

  watch: {
    active() {
      if (this.active === "true") {
        this.isVisible = true;
      } else if (this.active === "false") {
        this.isVisible = false;
      } else {
        this.isVisible = false;
      }
    },

    messageBag() {
      this.messages = JSON.parse(this.messageBag);
    }
  },

  methods: {
    toggle() {
      this.isVisible = !this.isVisible;
    },

    alertAnimateIn() {
      let alert = this.$refs.alert;

      anime({
        targets: alert,
        delay: 1750,
        scale: [0.85, 1],
        translateY: [-24, 0],
        opacity: 1,
        duration: 750,
        easing: "easeOutCirc",
        complete: function() {
          anime({
            targets: alert,
            delay: 15000,
            scale: 0.85,
            translateY: [0, 24],
            opacity: 0,
            duration: 1000,
            easing: "easeOutCirc",
            complete: function() {
              if (alert != null) {
                this.isVisible = false;
              }
            }
          });
        }
      });
    },

    closeAlert() {
      let alert = this.$refs.alert;

      anime({
        targets: alert,
        scale: 0.85,
        opacity: 0,
        duration: 1000,
        easing: "easeOutCirc"
      });
      setTimeout(() => {
        this.isVisible = false;
      }, 1000);
    }
  },

  mounted() {
    this.alertAnimateIn();
  }
};
</script>

<style lang="scss" scoped>
@import "../../../sass/flat-world-theme/components/banners";
</style>
