<template>
  <form
    :name="name"
    :action="action"
    :method="method"
    :id="name"
    data-toggle="validator"
    ref="form"
    @submit.prevent="handleSubmit"
  >
    <slot name="hidden-fields"></slot>

    <div class="form-group">
      <label for="firstName" :class="{'error': errors.has(`firstName`)}">
        <span class="label-text">First Name</span>
        <input
          type="text"
          name="firstName"
          id="firstName"
          v-model="firstName"
          placeholder="Jane"
          v-validate="`required`"
          required
        />
        <span v-if="errors.has(`firstName`)" class="input-warning">Required</span>
      </label>

      <label for="lastName" :class="{'error': errors.has(`lastName`)}">
        <span class="label-text">Last Name</span>
        <input
          type="text"
          name="lastName"
          id="lastName"
          v-model="lastName"
          placeholder="Doe"
          v-validate="`required`"
          required
        />
        <span v-if="errors.has(`lastName`)" class="input-warning">Required</span>
      </label>
    </div>

    <div class="form-group">
      <label for="companyName" :class="{'error': errors.has(`companyName`)}">
        <span class="label-text">Company Name</span>
        <input
          type="text"
          name="companyName"
          id="companyName"
          v-model="companyName"
          placeholder="ACME Industries"
          v-validate="`required`"
          required
        />
        <span v-if="errors.has(`companyName`)" class="input-warning">Required</span>
      </label>
    </div>

    <div class="form-group">
      <label for="email" :class="{'error': errors.has(`email`)}">
        <span class="label-text">Email Address</span>
        <input
          type="email"
          name="email"
          id="email"
          v-model="email"
          placeholder="jane.doe@email.com"
          v-validate="`required|email`"
          required
        />
        <span v-if="errors.has(`email`)" class="input-warning">Required</span>
      </label>

      <label for="phone" :class="{'error': errors.has(`phone`)}">
        <span class="label-text">Phone Number</span>
        <input
          type="tel"
          name="phone"
          id="phone"
          v-model="phone"
          placeholder="(123) 456-7890"
          v-validate="`required`"
          required
        />
        <span v-if="errors.has(`phone`)" class="input-warning">Required</span>
      </label>
    </div>

    <div class="form-group">
      <label for="address" :class="{'error': errors.has(`address`)}">
        <span class="label-text">Address</span>
        <textarea
          name="address"
          id="address"
          v-model="address"
          rows="4"
          placeholder="Type your full address here"
          v-validate="`required`"
          required
        ></textarea>
        <span v-if="errors.has(`address`)" class="input-warning">Required</span>
      </label>
    </div>

    <hr />

    <div class="alternate-backgrounds">
      <h2 class="mt-5 mb-1" style="padding: 0 0 0 12px;">Shipment Details</h2>

      <!-- Start dynamic line items. Wish me luck! -->
      <div class="lineItem" v-for="(lineItem, index) in lineItems" :key="`lineItem[${index}]`">
        <div class="form-group">
          <label
            :for="`lineItems[${index}][count]`"
            :class="{'error': errors.has(`lineItems[${index}][count]`)}"
          >
            <span class="label-text">Number of Units</span>
            <input
              v-model="lineItem.count"
              type="number"
              :name="`lineItems[${index}][count]`"
              :id="`lineItems[${index}][count]`"
              min="0"
              placeholder="12"
              v-validate="`required`"
              required
            />
            <span v-if="errors.has(`lineItems[${index}][count]`)" class="input-warning">Required</span>
          </label>

          <label
            :for="`lineItems[${index}][type]`"
            :class="{'error': errors.has(`lineItems[${index}][type]`)}"
          >
            <span class="label-text">Package Type</span>
            <select
              v-model="lineItem.type"
              :name="`lineItems[${index}][type]`"
              :id="`lineItems[${index}][type]`"
              v-validate="{required: true, is_not: `Select one`}"
              required
            >
              <option
                v-for="cartonType in cartonTypes"
                :key="`lineItems[${index}][lineItmeType][${cartonType}]`"
                :value="cartonType"
              >{{ cartonType }}</option>
            </select>
            <span v-if="errors.has(`lineItems[${index}][type]`)" class="input-warning">Required</span>
          </label>
        </div>

        <hr style="height: 1px; border: 1px solid rgba(0, 130, 200, 0.1);" />

        <!-- Start the really fun dymanic item types -->

        <!-- Carton/Box -->
        <fieldset v-if="lineItem.type === `Carton/Box`" style="all: unset; width: 100%;">
          <h3 style="text-align: center; text-transform: uppercase; font-size: 1.45rem; color: #666666;">Dimensions &amp; weight</h3>

          <div class="form-group">
            <label
              :for="`lineItems[${index}][length]`"
              :class="{'error': errors.has(`lineItems[${index}][length]`)}"
            >
              <span class="label-text">Length</span>
              <input
                v-model="lineItem.carton.length"
                :name="`lineItems[${index}][length]`"
                :id="`lineItems[${index}][length]`"
                type="number"
                min="0"
                placeholder="L"
                v-validate="lineItem.type === `Carton/Box` ? `required` : ``"
                :required="lineItem.type === `Carton/Box` ? true : false"
              />
              <span v-if="errors.has(`lineItems[${index}][length]`)" class="input-warning">Required</span>
            </label>

            <label
              :for="`lineItems[${index}][width]`"
              :class="{'error': errors.has(`lineItems[${index}][width]`)}"
            >
              <span class="label-text">Width</span>
              <input
                v-model="lineItem.carton.width"
                :name="`lineItems[${index}][width]`"
                :id="`lineItems[${index}][width]`"
                type="number"
                min="0"
                placeholder="W"
                v-validate="lineItem.type === `Carton/Box` ? `required` : ``"
                :required="lineItem.type === `Carton/Box` ? true : false"
              />
              <span v-if="errors.has(`lineItems[${index}][width]`)" class="input-warning">Required</span>
            </label>

            <label
              :for="`lineItems[${index}][height]`"
              :class="{'error': errors.has(`lineItems[${index}][height]`)}"
            >
              <span class="label-text">Height</span>
              <input
                v-model="lineItem.carton.height"
                :name="`lineItems[${index}][height]`"
                :id="`lineItems[${index}][height]`"
                type="number"
                min="0"
                placeholder="H"
                v-validate="lineItem.type === `Carton/Box` ? `required` : ``"
                :required="lineItem.type === `Carton/Box` ? true : false"
              />
              <span v-if="errors.has(`lineItems[${index}][height]`)" class="input-warning">Required</span>
            </label>

            <label
              :for="`lineItems[${index}][dimensionsUnit]`"
              :class="{'error': errors.has(`lineItems[${index}][dimensionsUnit]`)}"
            >
              <span class="label-text">Dimensions Unit</span>
              <select
                :name="`lineItems[${index}][dimensionsUnit]`"
                :id="`lineItems[${index}][dimensionsUnit]`"
                v-model="lineItem.carton.dimensionsUnit"
                v-validate="lineItem.type === `Carton/Box` ? {required: true, is_not: `Select one`} : ``"
                :required="lineItem.type === `Carton/Box` ? true : false"
              >
                <option disabled selected value="Select one">Select one</option>
                <option
                  v-for="dimensionUnit in dimensionsUnit"
                  :key="`lineItems[${index}][dimensionsUnit][${dimensionUnit}]`"
                  :value="dimensionUnit"
                >{{ dimensionUnit }}</option>
              </select>
              <span
                v-if="errors.has(`lineItems[${index}][dimensionsUnit]`)"
                class="input-warning"
              >Required</span>
            </label>
          </div>

          <div class="form-group">
            <label
              :for="`lineItems[${index}][weight]`"
              :class="{'error': errors.has(`lineItems[${index}][weight]`)}"
            >
              <span class="label-text">Weight Per Unit</span>
              <input
                v-model="lineItem.carton.weight"
                type="number"
                min="0"
                :name="`lineItems[${index}][weight]`"
                :id="`lineItems[${index}][weight]`"
                placeholder="1234"
                v-validate="lineItem.type === `Carton/Box` ? `required` : ``"
                :required="lineItem.type === `Carton/Box` ? true : false"
              />
              <span v-if="errors.has(`lineItems[${index}][weight]`)" class="input-warning">Required</span>
            </label>

            <label
              :for="`lineItems[${index}][weightUnit]`"
              :class="{'error': errors.has(`lineItems[${index}][weightUnit]`)}"
            >
              <span class="label-text">Weight Unit</span>
              <select
                v-model="lineItem.carton.weightUnit"
                :name="`lineItems[${index}][weightUnit]`"
                :id="`lineItems[${index}][weightUnit]`"
                v-validate="lineItem.type === `Carton/Box` ? {required: true, is_not: `Select one`} : ``"
                :required="lineItem.type === `Carton/Box` ? true : false"
              >
                <option disabled selected value="Select one">Select one</option>
                <option
                  v-for="weightUnit in weightUnit"
                  :key="`lineItems[${index}][weightUnit][${weightUnit}]`"
                  :value="weightUnit"
                >{{ weightUnit }}</option>
              </select>
              <span
                v-if="errors.has(`lineItems[${index}][weightUnit]`)"
                class="input-warning"
              >Required</span>
            </label>
          </div>
        </fieldset>
        <!-- End dynamic cartons -->

        <!-- Pallets -->
        <fieldset v-if="lineItem.type === `Pallet`" style="all: unset; width: 100%;">
          <h3 style="text-align: center; text-transform: uppercase; font-size: 1.45rem; color: #666666;">Dimensions &amp; weight</h3>

          <div class="form-group">
            <label
              :for="`lineItems[${index}][palletType]`"
              :class="{'error': errors.has(`lineItems[${index}][palletType]`)}"
            >
              <span class="label-text">Pallet Type</span>
              <select
                v-model="lineItem.pallet.type"
                :name="`lineItems[${index}][palletType]`"
                :id="`lineItems[${index}][palletType]`"
                v-validate="lineItem.type === `Pallet` ? {required: true, is_not: `Select one`} : ``"
                :required="lineItem.type === `Pallet` ? true : false"
              >
                <option disabled selected value="Select one">Select one</option>
                <option
                  v-for="palletType in palletTypes"
                  :key="`lineItems[${index}][palletType][${palletType}]`"
                  :value="palletType"
                >{{ palletType }}</option>
              </select>
              <span
                v-if="errors.has(`lineItems[${index}][palletType]`)"
                class="input-warning"
              >Required</span>
            </label>
          </div>

          <div class="form-group">
            <label
              :for="`lineItems[${index}][weight]`"
              :class="{'error': errors.has(`lineItems[${index}][weight]`)}"
            >
              <span class="label-text">Weight Per Unit</span>
              <input
                v-model="lineItem.pallet.weight"
                type="number"
                min="0"
                :name="`lineItems[${index}][weight]`"
                :id="`lineItems[${index}][weight]`"
                placeholder="1234"
                v-validate="lineItem.type === `Pallet` ? `required` : ``"
                :required="lineItem.type === `Pallet` ? true : false"
              />
              <span v-if="errors.has(`lineItems[${index}][weight]`)" class="input-warning">Required</span>
            </label>

            <label
              :for="`lineItems[${index}][weightUnit]`"
              :class="{'error': errors.has(`lineItems[${index}][weightUnit]`)}"
            >
              <span class="label-text">Weight Units</span>
              <select
                v-model="lineItem.pallet.weightUnit"
                :name="`lineItems[${index}][weightUnit]`"
                :id="`lineItems[${index}][weightUnit]`"
                v-validate="lineItem.type === `Pallet` ? {required: true, is_not: `Select one`} : ``"
                :required="lineItem.type === `Pallet` ? true : false"
              >
                <option disabled selected value="Select one">Select one</option>
                <option
                  v-for="weightUnit in weightUnit"
                  :key="`lineItems[${index}][weightUnit][${weightUnit}]`"
                  :value="weightUnit"
                >{{ weightUnit }}</option>
              </select>
              <span
                v-if="errors.has(`lineItems[${index}][weightUnit]`)"
                class="input-warning"
              >Required</span>
            </label>
          </div>
        </fieldset>
        <!-- End dynamic pallets -->

        <hr style="height: 1px; border: 1px solid rgba(0, 130, 200, 0.1);" />

        <div class="form-group">
          <label
            :for="`lineItems[${index}][value]`"
            :class="{'error': errors.has(`lineItems[${index}][value]`)}"
          >
            <span class="label-text">Total Value of Goods</span>
            <input
              v-model="lineItem.value"
              type="number"
              :name="`lineItems[${index}][value]`"
              :id="`lineItems[${index}][value]`"
              min="0"
              placeholder="100"
              v-validate="`required`"
              required
            />
            <span v-if="errors.has(`lineItems[${index}][value]`)" class="input-warning">Required</span>
          </label>

          <label
            :for="`lineItems[${index}][description]`"
            :class="{'error': errors.has(`lineItems[${index}][description]`)}"
          >
            <span class="label-text">Product Description</span>
            <input
              v-model="lineItem.description"
              type="text"
              :name="`lineItems[${index}][description]`"
              :id="`lineItems[${index}][commodityDescription]`"
              placeholder="Ex. Baseball bats"
              v-validate="`required`"
              required
            />
            <span
              v-if="errors.has(`lineItems[${index}][description]`)"
              class="input-warning"
            >Required</span>
          </label>

          <label
            :for="`lineItems[${index}][harmonizedTariffCode]`"
            :class="{'error': errors.has(`lineItems[${index}][harmonizedTariffCode]`)}"
          >
            <span class="label-text">Harmonized Tariff Code</span>
            <input
              v-model="lineItem.harmonizedTariffCode"
              type="text"
              :name="`lineItems[${index}][harmonizedTariffCode]`"
              :id="`lineItems[${index}][commodityDescription]`"
              placeholder="123456"
              required
            />
            <!-- <span
              v-if="errors.has(`lineItems[${index}][harmonizedTariffCode]`)"
              class="input-warning"
            >Required</span> -->
          </label>
        </div>

        <div
          style="display: flex; flex-flow: row nowrap; justify-content: flex-end; margin: 12px 0 0; padding: 0 12px;"
        >
          <button
            type="button"
            class="button button-outline-critical button-small"
            data-action="delete"
            @click="deleteLineItem(index)"
          >
            <fw-font-awesome-icon icon="trash-alt" style="margin-right: 8px;"></fw-font-awesome-icon>Delete Line
          </button>
        </div>
      </div>
      <!-- End dynamic form section -->

      <div
        style="display: flex; flex-flow: row nowrap; justify-content: flex-end; margin: 12px 0px 0px; padding: 0px 12px; background-color: rgb(255, 255, 255) !important;"
      >
        <button
          type="button"
          class="button button-solid-info button-small addLine"
          @click="addLineItem"
        >
          <fw-font-awesome-icon icon="plus" style="margin-right: 8px;"></fw-font-awesome-icon>Add New Line
        </button>
      </div>
    </div>

    <hr />

    <h2 class="mt-5 mb-1" style="padding: 0 0 0 12px;">Pick Up Details</h2>

    <div class="form-group">
      <label for="transportType" :class="{'error': errors.has(`transportType`)}">
        <span class="label-text">Mode of Transportation</span>
        <select
          name="transportType"
          id="transportType"
          v-model="transportType"
          v-validate="{required: true, is_not: `Select one`}"
          required
        >
          <option disabled selected value="Select one">Select one</option>
          <option value="Ocean">Ocean</option>
          <option value="Air">Air</option>
        </select>
        <span v-if="errors.has(`transportType`)" class="input-warning">Required</span>
      </label>
    </div>

    <div class="form-group">
      <label for="pickUpLocation" :class="{'error': errors.has(`pickUpLocation`)}">
        <span class="label-text">Location Type</span>
        <select
          name="pickUpLocation"
          id="pickUpLocation"
          v-model="pickUpLocation"
          v-validate="{required: true, is_not: `Select one`}"
          required
        >
          <option disabled selected value="Select one">Select one</option>
          <option value="Supplier / Manufacturer (EXW)">Supplier / Manufacturer (EXW)</option>
          <option value="Port (FOB)">Port (FOB)</option>
        </select>
        <span v-if="errors.has(`pickUpLocation`)" class="input-warning">Required</span>
      </label>

      <label for="pickUpDate" :class="{'error': errors.has(`pickUpDate`)}">
        <span class="label-text">Estimated Cargo Ready Date</span>
        <input
          type="text"
          name="pickUpDate"
          id="pickUpDate"
          v-model="pickUpDate"
          v-validate="`required`"
          required
        />
        <span v-if="errors.has(`pickUpDate`)" class="input-warning">Required</span>
      </label>
    </div>

    <div class="form-group">
      <label for="pickUpCountry" :class="{'error': errors.has(`pickUpCountry`)}">
        <span class="label-text">Country</span>
        <input
          type="text"
          name="pickUpCountry"
          id="pickUpCountry"
          v-model="pickUpCountry"
          placeholder="Ex. China, Malaysia"
          v-validate="`required`"
          required
        />
        <span v-if="errors.has(`pickUpCountry`)" class="input-warning">Required</span>
      </label>

      <label for="pickUpPostal" :class="{'error': errors.has(`pickUpPostal`)}">
        <span class="label-text">City / Port Postal Code</span>
        <input
          type="text"
          name="pickUpPostal"
          id="pickUpPostal"
          v-model="pickUpPostal"
          placeholder="Ex. Shanghai, Hong Kong"
          v-validate="`required`"
          required
        />
        <span v-if="errors.has(`pickUpPostal`)" class="input-warning">Required</span>
      </label>
    </div>

    <div class="form-group">
      <label for="pickUpAddress" :class="{'error': errors.has(`pickUpAddress`)}">
        <span class="label-text">Address</span>
        <textarea
          name="pickUpAddress"
          id="pickUpAddress"
          v-model="pickUpAddress"
          rows="4"
          placeholder="Type the full pick up address here"
          v-validate="`required`"
          required
        ></textarea>
        <span v-if="errors.has(`pickUpAddress`)" class="input-warning">Required</span>
      </label>
    </div>

    <hr />

    <div class="form-group">
      <fieldset :class="{'error': errors.has(`destination`)}">
        <label>
          <span class="label-text">Select a delivery location</span>
        </label>

        <label for="destination_1" class="radio">
          <input
            type="radio"
            name="destination"
            id="destination_1"
            v-model="destination"
            value="Chicago"
            v-validate="`required`"
            required
          />
          <span class="label-text">Chicago</span>
        </label>

        <label for="destination_2" class="radio">
          <input
            type="radio"
            name="destination"
            id="destination_2"
            v-model="destination"
            value="Dallas"
            v-validate="`required`"
            required
          />
          <span class="label-text">Dallas</span>
        </label>

        <label for="destination_3" class="radio">
          <input
            type="radio"
            name="destination"
            id="destination_3"
            v-model="destination"
            value="St. Louis"
            v-validate="`required`"
            required
          />
          <span class="label-text">St. Louis</span>
        </label>

        <label for="destination_4" class="radio">
          <input
            type="radio"
            name="destination"
            id="destination_4"
            v-model="destination"
            value="Atlanta"
            v-validate="`required`"
            required
          />
          <span class="label-text">Atlanta</span>
        </label>

        <label for="destination_5" class="radio">
          <input
            type="radio"
            name="destination"
            id="destination_5"
            v-model="destination"
            value="Residential"
            v-validate="`required`"
            required
          />
          <span class="label-text">Residential</span>
        </label>

        <label for="destination_6" class="radio">
          <input
            type="radio"
            name="destination"
            id="destination_6"
            v-model="destination"
            value="Other"
            v-validate="`required`"
            required
          />
          <span class="label-text">Other</span>
        </label>
        <span v-if="errors.has(`destination`)" class="input-warning">Required</span>
      </fieldset>
    </div>

    <hr />

    <div class="form-group">
      <fieldset :class="{'error': errors.has(`addInsurance`)}">
        <label>
          <span class="label-text">Would you like to add Insurance?</span>
        </label>

        <label for="addInsurance_yes" class="radio">
          <input
            type="radio"
            name="addInsurance"
            v-model="addInsurance"
            id="addInsurance_yes"
            value="Yes"
            v-validate="`required`"
            required
          />
          <span class="label-text">Yes</span>
        </label>

        <label for="addInsurance_no" class="radio">
          <input
            type="radio"
            name="addInsurance"
            v-model="addInsurance"
            id="addInsurance_no "
            value="No"
            v-validate="`required`"
            required
          />
          <span class="label-text">No</span>
        </label>
        <span v-if="errors.has(`addInsurance`)" class="input-warning">Required</span>
      </fieldset>

      <fieldset :class="{'error': errors.has(`isHazardous`)}">
        <label>
          <span class="label-text">Are you shipping hazardous contents?</span>
        </label>

        <label for="isHazardous_yes" class="radio">
          <input
            type="radio"
            name="isHazardous"
            v-model="isHazardous"
            id="isHazardous_yes"
            value="Yes"
            v-validate="`required`"
            required
          />
          <span class="label-text">Yes</span>
        </label>

        <label for="isHazardous_no" class="radio">
          <input
            type="radio"
            name="isHazardous"
            v-model="isHazardous"
            id="isHazardous_no "
            value="No"
            v-validate="`required`"
            required
          />
          <span class="label-text">No</span>
        </label>
        <span v-if="errors.has(`isHazardous`)" class="input-warning">Required</span>
      </fieldset>

      <fieldset :class="{'error': errors.has(`hasBond`)}">
        <label>
          <span class="label-text">Do You Have a Customs Bond?</span>
        </label>

        <label for="hasBond_yes" class="radio">
          <input
            type="radio"
            name="hasBond"
            v-model="hasBond"
            id="hasBond_yes"
            value="Yes"
            v-validate="`required`"
            required
          />
          <span class="label-text">Yes</span>
        </label>

        <label for="hasBond_no" class="radio">
          <input
            type="radio"
            name="hasBond"
            v-model="hasBond"
            id="hasBond_no "
            value="No"
            v-validate="`required`"
            required
          />
          <span class="label-text">No</span>
        </label>
        <span v-if="errors.has(`hasBond`)" class="input-warning">Required</span>
      </fieldset>
    </div>

    <div class="form-group">
      <label for="message">
        <span class="label-text">Message</span>
        <textarea
          name="message"
          id="message"
          v-model="message"
          rows="4"
          placeholder="Enter any other information pertinent to your shipment"
        ></textarea>
      </label>
    </div>

    <div
      style="display: flex; flex-flow: row nowrap; justify-content: flex-end; margin: 12px 0px 0px; padding: 0px 12px; background-color: rgb(255, 255, 255) !important;"
    >
      <button
        role="button"
        type="button"
        @click="handleSubmit"
        class="button button-solid-success button-small"
      >
        <fw-font-awesome-icon icon="paper-plane" style="margin-right: 8px;"></fw-font-awesome-icon>Submit Request
      </button>
    </div>
  </form>
</template>

<script>
const lineItemDefaultObject = {
  count: null,
  type: `Carton/Box`,
  value: null,
  description: null,
  harmonizedTariffCode: null,
  carton: {
    length: null,
    width: null,
    height: null,
    weight: null,
    dimensionsUnit: `Select one`,
    weightUnit: `Select one`
  },
  pallet: {
    type: `Select one`,
    weight: null,
    weightUnit: `Select one`
  }
}
export default {
  name: "e-commerce-form",

  props: {
    name: {
      type: String,
      default: ""
    },
    action: {
      type: String,
      default: ""
    },
    method: {
      type: String,
      default: ""
    }
  },

  data() {
    return {
      firstName: null,
      lastName: null,
      companyName: null,
      email: null,
      phone: null,
      address: null,
      lineItems: [
        {...lineItemDefaultObject},
      ],
      transportType: `Select one`,
      pickUpLocation: `Select one`,
      pickUpDate: null,
      pickUpCountry: null,
      pickUpPostal: null,
      pickUpAddress: null,
      destination: null,
      addInsurance: null,
      isHazardous: null,
      hasBond: null,
      message: null,
      dimensionsUnit: [`INs`, `CMs`],
      weightUnit: [`LBs`, `KGs`],
      cartonTypes: [`Carton/Box`, `Pallet`],
      palletTypes: [`48IN x 48IN`, `120CM x 80CM`, `120CM x 100CM`]
    };
  },

  mounted() {
    // console.log(this.old);
  },

  methods: {
    addLineItem() {
      this.lineItems.push({
        ...lineItemDefaultObject
      });
    },

    deleteLineItem(index) {
      this.lineItems.splice(index, 1);
    },

    handleSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$refs.form.submit();
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.input-warning {
  display: block;

  margin: 4px 4px 0px;

  color: hsla(0, 65, 50, 0.75);
  font-weight: 600;
  font-size: 11px;
}
</style>
