<template>
  <section>
    <div class="loading" v-if="isLoading">
      <div>Loading</div>
      <div>
        <!-- By Sam Herbert (@sherb), for everyone. More @ http://goo.gl/7AJzbL -->
        <svg
          width="38"
          height="38"
          viewBox="0 0 38 38"
          xmlns="http://www.w3.org/2000/svg"
          stroke="#0082C8"
        >
          <g fill="none" fill-rule="evenodd">
            <g transform="translate(1 1)" stroke-width="2">
              <circle stroke-opacity="0.5" cx="18" cy="18" r="18"></circle>
              <path d="M36 18c0-9.94-8.06-18-18-18">
                <animateTransform
                  attributeName="transform"
                  type="rotate"
                  from="0 18 18"
                  to="360 18 18"
                  dur="1s"
                  repeatCount="indefinite"
                ></animateTransform>
              </path>
            </g>
          </g>
        </svg>
      </div>
    </div>

    <form @submit.prevent="uploadFile" ref="form" v-if="!isLoading">
      <div class="form-group" style="display: none;" v-if="uploadReady">
        <label for="file">
          <span class="label-text">Image</span>
          <input type="file" name="file" id="file" @change="onFileChanged($event)">
        </label>
      </div>

      <div class="form-group" v-if="originalFileName">
        <label for="fileName">
          <span class="label-text">Image Name</span>
          <input
            type="text"
            name="fileName"
            id="fileName"
            :placeholder="originalFileName"
            v-model="fileName"
          >
        </label>

        <label for="fileDescription">
          <span class="label-text">Image Description</span>
          <input
            type="text"
            name="fileDescription"
            id="fileDescription"
            :placeholder="placeholderFileDescription"
            v-model="fileDescription"
          >
        </label>
      </div>

      <div
        v-if="error"
        style="text-align: center; font-size: 1rem; color: #DE545F; font-weight: 700; margin: 8px auto 16px;"
      >{{ error }}</div>

      <div class="form-group" :style="`padding: 0 12px; ${!fileObject ? `justify-content: space-evenly;` : null}`">

        <fw-button
          design="outline"
          state="info"
          size="small"
          icon="upload"
          type="button"
          role="button"
          onclick="document.getElementById('file').click()"
          v-if="!originalFileName"
        >Upload Image</fw-button>

        <div v-else-if="originalFileName" style="display: flex; flex-direction: row;">
          <fw-button
            design="outline"
            state="info"
            size="small"
            icon="upload"
            type="submit"
            role="button"
            style="margin: 0 12px 0 0;"
          >Submit</fw-button>

          <fw-button
            design="text"
            state="critical"
            size="small"
            icon="trash"
            type="button"
            role="button"
            @click.native="clearFile"
          >Clear</fw-button>
        </div>
      </div>
    </form>
  </section>
</template>

<script>
export default {
  data() {
    return {
      isLoading: false,
      uploadReady: true,
      originalFileName: null,
      fileName: null,
      placeholderFileDescription: "This is a lovely image.",
      fileDescription: null,
      fileObject: null,
      localFileUrl: null,
      s3FileUrl: null,
      token: null,
      error: null
    };
  },
  methods: {
    onFileChanged(event) {
      const file = event.target.files[0];
      const fileUrl = URL.createObjectURL(file);

      this.error = null;
      this.fileObject = file;
      this.originalFileName = file.name;
      this.placeholderFileDescription = "This is a lovely image.";
      this.localFileUrl = fileUrl;

      this.$emit("fileUrl", fileUrl);
    },
    uploadFile() {
      let formData = new FormData(this.$refs.form);

      formData.append("_method", "POST");
      formData.append("file", this.fileObject);

      if (fileName) {
        formData.append("fileName", this.fileName);
      } else {
        formData.append("fileName", this.originalFileName);
      }

      if (fileDescription) {
        formData.append("fileDescription", this.fileDescription);
      } else {
        formData.append("fileDescription", this.placeholderFileDescription);
      }

      axios
        .post(
          "/api/images/store",
          formData,
          {
            headers: {
              "Content-Type": "mulipart/form-data"
            }
          },
          (this.isLoading = true)
        )
        .then(res => {
          this.error = null;
          this.isLoading = false;
          this.s3FileUrl = res.data;
          this.fileObject = null;
          this.originalFileName = null;
          this.fileName = null;
          this.placeholderFileDescription = null;
          this.fileDescription = null;
          this.localFileUrl = null;

          this.$emit("s3Url", this.s3FileUrl);
        })
        .catch(e => {
          this.error = e.response.data.errors.file[0];
          this.isLoading = false;
          this.fileObject = null;
          this.originalFileName = null;
          this.fileName = null;
          this.placeholderFileDescription = null;
          this.fileDescription = null;
          this.localFileUrl = null;
        });
    },
    clearFile() {
      this.fileObject = null;
      this.originalFileName = null;
      this.fileName = null;
      this.placeholderFileDescription = null;
      this.fileDescription = null;
      this.localFileUrl = null;

      this.uploadReady = false;

      this.$nextTick(() => {
        this.uploadReady = true;
      });

      this.$emit("clear");
    }
  },
  mounted() {
    let token = document.head.querySelector('meta[name="csrf-token"]');
    this.token = token.content;
  }
};
</script>

<style lang="scss" scoped>
section {
  width: 100%;
  margin: 0 0 16px;
}

.loading {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin: 12px 0;
  padding: 12px 0;

  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 130, 200, 1);

  div {
    margin: 0 6px;
  }
}

.preview-image {
  &-main {
    max-width: 200px;
    width: 100%;
    height: auto;
    border-radius: 6px;
    overflow: hidden;

    margin: 12px 0 0;
  }
}
</style>