<template>
  <section>

    <div class="form-group" style="display: none;">
      <label for="featured_image">
        <span class="label-text">Featured Image</span>
        <input
          type="text"
          name="featured_image"
          id="featured_image"
          :value="selectedImageUrl"
        />
      </label>
    </div>

    <div class="flex-row d-flex">
      <fw-button
        design="outline"
        state="info"
        size="small"
        icon="image"
        type="button"
        role="button"
        style="margin: 0 12px 0 0;"
        @click.native="toggleModal"
      >
        {{ defaultButtonText }}
      </fw-button>

      <fw-button
        design="outline"
        state="critical"
        size="small"
        icon="trash"
        type="button"
        role="button"
        @click.native="clear"
        v-if="selectedImageUrl"
      >
        Clear
      </fw-button>
    </div>

    <img :src="selectedImageUrl" alt="Your chosen image." v-if="selectedImageUrl" class="preview-image-main" />

    <general-modal :title="modalTitle" ref="modal" @cancel="clear">

      <image-upload @fileUrl="setLocalImageData" @s3Url="setRemoteImageUrl" @clear="clear"></image-upload>

      <div :style="{
          display: 'flex',
          flexDirection: 'column',
          justifyContent: 'flex-start',
          padding: '0 12px',
          maxHeight: 'calc(100% - ' + paddingFix + ')'
        }"
      >

        <div style="width: 100%; margin: 0 0 12px; padding: 0 0 12px; border-bottom: 4px solid rgba(0, 130, 200, 0.5);" v-if="selectedImageUrl">
          <img :src="selectedImageUrl" alt="Your selected image." class="preview-image-modal" :style="selectedImageUrl ? '{display: none}' : '{display: block}'" />
        </div>

        <div>
          <image-gallery>
            <image-thumbnail
              v-for="image in images"
              :key="image.id"
              :image="image"
              @imageUrl="setRemoteImageUrl"
              style="max-width: 100%; height: 200px;"
            >
            </image-thumbnail>
          </image-gallery>
        </div>
      </div>

      <template slot="actions">
          <fw-button design="solid" state="info" size="small" icon="check" type="button" role="button" value="" @click.native="toggleModal" v-if="isRemoteImageUrl">
            Select
          </fw-button>
      </template>
    </general-modal>

  </section>
</template>

<script>
import '../../../sass/flat-world-theme/_forms.scss'
import ButtonComponent from '../ButtonComponent'
import GeneralModal from '../modals/GeneralModal'
import ImageGallery from '../imageGallery/ImageGallery'
import ImageThumbnail from '../imageGallery/ImageThumbnail'
import ImageUpload from './ImageUpload'

export default {
  components: {
    'fw-button': ButtonComponent,
    'general-modal': GeneralModal,
    'image-gallery': ImageGallery,
    'image-upload': ImageUpload
  },

  props: {
    image: {
      type: String
    },
  },

  data() {
    return {
      images: null,
      modalState: false,
      selectedImageUrl: null,
      isRemoteImageUrl: false,
      defaultButtonText: 'Add Image from Gallery',
      modalTitle: 'Choose an image',
      paddingFix: '49px'
    }
  },

  watch: {
    image() {
      this.selectedImageUrl = this.image
    }
  },

  beforeMount() {
    axios
      .get('/api/images')
      .then(res => {
        this.images = res.data.images
      })

    this.heightPaddingFix()
  },

  methods: {
    toggleModal() {
      this.$refs.modal.toggle()
    },

    setRemoteImageUrl(url) {
      this.clear()
      this.selectedImageUrl = url
      this.isRemoteImageUrl = true

      axios
        .get('/api/images')
        .then(res => {
          this.images = res.data.images
        })

      this.heightPaddingFix()
    },

    setLocalImageData(url) {
      this.clear()
      this.selectedImageUrl = url
      this.isRemoteImageUrl = false

      this.heightPaddingFix()
    },

    clear() {
      this.selectedImageUrl = null

      this.defaultButtonText = 'Add Image from Gallery'
      this.modalTitle = 'Choose an Image'

      this.heightPaddingFix()
    },

    heightPaddingFix() {
      if (this.isRemoteImageUrl == false && this.selectedImageUrl == null) {
        this.paddingFix = '49px'
      } else {
        this.paddingFix = '135px'
      }
    }
  }
}

</script>

<style lang="scss" scoped>
@import '../../../sass/flat-world-theme/forms';
section {
  display: inline-flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
}
.preview-image {
  &-main {
    max-width: 400px;
    width: 100%;
    height: auto;
    border-radius: 6px;
    overflow: hidden;

    margin: 12px 0 0;
  }
  &-modal {
    width: 100%;
    min-height: 275px;
    max-height: 275px;

    object-fit: cover;
    object-position: center center;

    border-radius: 6px;
    overflow: hidden;

    @media screen and (max-width: 991px) {
      min-height: 175px;
      max-height: 175px;
    }
  }
}
</style>
