<template>
  <div class="form-group">
    <fieldset>
      <label>
        <span class="label-text">{{ label }}</span>
      </label>

      <label :for="name" class="radio" v-for="(radio, index) in radios" :key="index">
        <input
          v-model="model"
          @input="$emit('change', $event.target.value)"
          type="radio"
          :name="name"
          :id="`name[${index}]`"
          :required="required"
          :value="radio.value"
        />

        <span class="label-text">{{ radio.title }}</span>
      </label>

      <div v-if="errors">
        <span class="input-warning" v-for="(error, index) in errors" :key="index">{{ error }}</span>
      </div>
    </fieldset>
  </div>
</template>

<script>
export default {
  name: `radio-input-group`,

  props: {
    label: {
      type: String,
      default: null
    },

    radioArray: {
      type: Array,
      default: null
    },

    required: {
      type: Boolean,
      default: false
    },

    errorBag: {
      type: Array,
      default: null
    },

    value: {
      type: String,
      default: null
    }
  },

  data() {
    return {
      model: null,
      radios: this.radioArray,
      errors: null
    };
  },

  watch: {
    value(value) {
      this.model = value;
    },

    radioArray(value) {
      this.radios = value;
    },

    errorBag(errorBag) {
      this.errors = errorBag;
    }
  },

  computed: {
    name() {
      return this.label.replace(` `, `_`).toLowerCase();
    }
  }
};
</script>

<style lang="scss" scoped>
.input-warning {
  display: block;

  margin: 4px 4px 0px;

  color: hsla(0, 65, 50, 0.75);
  font-weight: 600;
  font-size: 11px;
}
</style>
