<template>
  <div class="form-group">
    <label :for="name">
      <div class="label-text">{{ label }}</div>

      <textarea
        v-model="text"
        @input="$emit('change', $event.target.value)"
        :name="name"
        :id="name"
        :columns="columns"
        :rows="rows"
        :placeholder="placeholder"
        :required="required"
      ></textarea>

      <div v-if="errors">
        <span class="input-warning" v-for="(error, index) in errors" :key="index">{{ error }}</span>
      </div>
    </label>
  </div>
</template>

<script>
export default {
  name: `text-area-group`,

  props: {
    label: {
      type: String,
      default: null
    },

    required: {
      type: Boolean,
      default: false
    },

    errorBag: {
      type: Array,
      default: null
    },

    rows: {
      type: String,
      default: null
    },

    columns: {
      type: String,
      default: null
    },

    placeholder: {
      type: String,
      default: null
    },

    value: {
      type: String,
      default: null
    }
  },

  data() {
    return {
      text: null,
      errors: null
    };
  },

  watch: {
    value(value) {
      this.text = value;
    },

    errorBag(errorBag) {
      this.errors = errorBag;
    }
  },

  computed: {
    name() {
      return this.label.replace(` `, `_`).toLowerCase();
    }
  }
};
</script>

<style lang="scss" scoped>
.input-warning {
  display: block;

  margin: 4px 4px 0px;

  color: hsla(0, 65, 50, 0.75);
  font-weight: 600;
  font-size: 11px;
}
</style>
