<template>
  <section>
    <div class="mt-5" style="max-width: 480px; margin: 0 auto;">
      <h2 class="mb-5" style="padding: 0 0 0 12px;">
        Track your shipments using your Bill of Lading number below. If you need more detailed information, please log in to your
        <a
          href="https://pipeline.flatworldsc.com"
          target="_blank"
          class="link"
        >Pipeline</a> account.
      </h2>

      <div class="form-group">
        <label for="trackingNumber">
          <span class="label-text">Bill of Lading</span>
          <input
            type="text"
            name="trackingNumber"
            id="trackingNumber"
            placeholder="Enter the tracking number here."
            v-model="trackingNumber"
            @keyup.enter="axiosGetTracking"
          />
        </label>
      </div>

      <div
        style="display: flex; flex-flow: row nowrap; justify-content: flex-end; margin: 12px 0 0; padding: 0 12px;"
      >
        <!-- <fw-button
          design="outline"
          state="critical"
          size="small"
          icon="minus-circle"
          type="button"
          role="button"
          v-if="trackingObject"
          @click.native="clearAll"
          style="margin: 0px 8px 0px 0px;"
        >
          Clear
        </fw-button>-->

        <fw-button
          design="solid"
          state="info"
          size="small"
          icon="barcode-read"
          type="button"
          role="button"
          @click.native="axiosGetTracking"
        >Track</fw-button>
      </div>
    </div>

    <tracking-modal
      @toggle="clearAll"
      ref="modal"
      title="Tracking information"
      :loading="isLoading"
    >
      <domestic-tracking-card :tracking-object="trackingObject"></domestic-tracking-card>
    </tracking-modal>
  </section>
</template>

<script>
import DomesticTrackingCard from "../cards/DomesticTrackingCard";
import TrackingModal from "../modals/TrackingModal";
import ButtonComponent from "../ButtonComponent";

export default {
  components: {
    "domestic-tracking-card": DomesticTrackingCard,
    "tracking-modal": TrackingModal
  },

  data() {
    return {
      trackingNumber: null,
      trackingNumberType: null,
      trackingObject: null,
      isLoading: false
    };
  },

  methods: {
    axiosGetTracking() {
      this.trackingObject = null;

      axios
        .post(
          `/api/tracking/${this.trackingNumber}`,
          (this.isLoading = true),
          this.toggleModal()
        )
        .then(res => {
          this.isLoading = false;
          let responseAsJSON = JSON.parse(res.data.response);

          if (responseAsJSON.data.length >= 1) {
            this.trackingObject = responseAsJSON;
            console.log(`Tracking is not empty`);
          } else {
            this.trackingObject = false;
            console.log(`Tracking is empty`);
          }

          console.log(responseAsJSON.data.length);
        })
        .catch(e => {
          console.log(e);
        });
    },

    toggleModal() {
      this.$refs.modal.toggle();
    },

    clearAll() {
      this.trackingNumber = null;
      this.trackingObject = null;
    }
  }
};
</script>

<style lang="scss" scoped>
section {
  width: 100%;
}
</style>
