<template>
  <div class="modal-group container" v-if="active">
    <div class="modal">
      <header>
        <span>{{ title }}</span>
        <span class="modal-toggle" @click="toggle">
          <font-awesome-icon :icon="['fas', 'times']" fa-fw></font-awesome-icon>
        </span>
      </header>

      <section class="modalContent">
        <slot></slot>
      </section>

      <footer>
        <fw-button
          design="text"
          state="critical"
          size="small"
          icon="ban"
          type="button"
          role="button"
          value
          class="mr-4"
          @click.native="toggle"
        >Cancel</fw-button>
        <slot name="actions"></slot>
      </footer>
    </div>
  </div>
</template>

<script>
import "../../../sass/flat-world-theme/components/_modals.scss";
import ButtonComponent from "../ButtonComponent";

import { library } from "@fortawesome/fontawesome-svg-core";
import { faTimes } from "@fortawesome/pro-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";

library.add(faTimes);

export default {
  props: {
    defaultState: {
      type: Boolean,
      default: false
    },
    title: String
  },
  components: {
    "fw-button": ButtonComponent,
    "font-awesome-icon": FontAwesomeIcon
  },
  data() {
    return {
      active: this.defaultState
    };
  },
  methods: {
    toggle() {
      this.active = !this.active;
    },
    clear() {
      this.$emit("cancel");
    },
    toggleAndClear() {
      this.toggle();
      this.clear();
    }
  }
};
</script>


<style lang="scss" scoped>
@import "../../../sass/flat-world-theme/components/_modals.scss";
</style>
