<template>
  <div class="modal-group container" v-if="active">
    <div class="modal">
      <header>
        <span>{{ title }}</span>
        <span class="modal-toggle" @click="toggle"><i class="far fa-times fa-fw"></i></span>
      </header>

      <section class="modalContent">
        <!-- Loading Animation -->
        <div style="margin: 96px 0px; display: flex; flex-flow: column nowrap; justify-content: center; align-items: center;" v-if="isLoading">
          <!-- By Sam Herbert (@sherb), for everyone. More @ http://goo.gl/7AJzbL -->
          <svg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg">
            <defs>
              <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a">
                <stop stop-color="#0082C8" stop-opacity="0" offset="0%" />
                <stop stop-color="#0082C8" stop-opacity=".631" offset="63.146%" />
                <stop stop-color="#0082C8" offset="100%" />
              </linearGradient>
            </defs>
            <g fill="none" fill-rule="evenodd">
              <g transform="translate(1 1)">
                <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="2">
                  <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite" />
                </path>
                <circle fill="#0082C8" cx="36" cy="18" r="1">
                  <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="0.9s" repeatCount="indefinite" />
                </circle>
              </g>
            </g>
          </svg>

          <span class="loadingText">Loading</span>
        </div>

        <slot></slot>
      </section>

      <footer>
        <fw-button design="text" state="info" size="small" type="button" role="button" value="" class="mr-4" @click.native="toggle">
          Close
        </fw-button>
      </footer>
    </div>
  </div>
</template>

<script>
import '../../../sass/flat-world-theme/components/_modals.scss'
import ButtonComponent from '../ButtonComponent'

export default {
  props: {
    defaultState: {
      type: Boolean,
      default: false
    },
    title: String,
    loading: Boolean
  },
  components: {
    'fw-button': ButtonComponent
  },

  watch: {
    loading() {
      this.isLoading = this.loading
    }
  },

  data() {
    return {
      active: this.defaultState,
      isLoading: false
    }
  },

  methods: {
    toggle() {
      this.active = !this.active
      this.$emit('toggle')
    },
  },

  created() {
    // Close modal if escape key is pressed.
    window.addEventListener('keydown', (e) => {
      if (e.keyCode === 27 && this.active === true) {
        this.toggle()
      }
    })
  }
}
</script>


<style lang="scss" scoped>
@import '../../../sass/flat-world-theme/components/_modals.scss';

.loadingText {
  margin: 24px 0px 0px;

  color: rgba(0, 130, 200, 1);
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}
</style>
