<template>
    <div class="image-container" @click="imageUrl(image.name, image.url), imageSelected()">
      <img :src="image.url" :alt="image.description" />
    </div>
</template>

<script>
export default {
  props: {
    image: Object
  },
  data() {
    return {
      selected: false
    }
  },
  methods: {
    imageUrl(name, url) {
      this.$emit('imageUrl', url)
    },
    imageSelected() {
      this.selected = !this.selected
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../../sass/flat-world-theme/branding';

.image-container {
  position: relative;

  overflow: hidden;

  transform: scale(1);
  transition: 400ms cubic-bezier(.25,0,.28,.94);

  opacity: .5;

  &::after {
    content: '';

    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: transparent;
    transition: 400ms cubic-bezier(.25,0,.28,.94);
  }

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center center;

    transform: scale(1.1);
    transition: 400ms cubic-bezier(.25,0,.28,.94);
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: 350ms cubic-bezier(.3,.39,0,1);

    z-index: 1000;

    opacity: 1;

    &::after {
      background-color: rgba($brand-primary, .35);
      transition: 350ms cubic-bezier(.3,.39,0,1);
    }

    img {
      transform: scale(1.18);
      transition: 350ms cubic-bezier(.3,.39,0,1);
    }
  }

  // &.selected {
  //   &::after {
  //     background-color: rgba($brand-primary, .65);
  //   }
  //   &::before {
  //     content: '\f00c';
  //     font-family: 'Font Awesome 5';
  //     font-weight: 900;
  //     color: $white;
  //     font-size: 2rem;
  //     font-weight: 800;

  //     position: absolute;
  //     z-index: 150;
  //     top: 50%;
  //     left: 50%;
  //     transform: translate(-50%,-50%);
  //   }
  // }
}
</style>
