<template>
  <section id="imageGrid">

    <slot></slot>

  </section>
</template>

<script>
  import ImageThumbnail from './ImageThumbnail'
  import ButtonComponent from '../ButtonComponent'

  import '../../../sass/flat-world-theme/_branding.scss'
  export default {
    data() {
      return {
        images: null,
        imageUrlStore: null,
      }
    },
    components: {
      'image-thumbnail': ImageThumbnail,
      'fw-button': ButtonComponent
    },
  }
</script>


<style lang="scss" scoped>
#imageGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
  justify-content: center;
  align-content: center;
  align-items: center;

  width: 100%;
  @media only screen and (max-width: 768px) {
    grid-template-columns: 100%;
  }
}
</style>
