<template>
  <a href="/">
    <img :src="src || false" alt="Company logo" :style="src === null && 'display: none;'">
  </a>
</template>

<script>
export default {
  props: {
    src: String
  }
};
</script>

<style lang="scss" scoped>
a {
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  // flex-grow: 1;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;

  &:hover {
    text-decoration: none;
  }
  img {
    width: auto;
    max-height: 2.5rem;
    margin: 1.25rem 0;
    padding: 0;
  }
}
</style>
