<template>
  <nav :class="theme">
    <section>
      <fw-nav-logo :src="logo || null"/>

      <span :class="'mobile-nav-open' + theme" v-on:click="openMobileNav">
        <font-awesome-icon :icon="['fas', 'bars']" fa-fw></font-awesome-icon>
      </span>

      <div :class="'navOverflow ' + mobileNavState">
        <span class="mobile-nav-close" v-on:click="closeMobileNav">
          <font-awesome-icon :icon="['fas', 'times']" fa-fw></font-awesome-icon>
        </span>

        <slot name="links"></slot>
      </div>
    </section>
  </nav>
</template>

<script>
import NavigationLogo from "./NavigationLogo";
import { library } from "@fortawesome/fontawesome-svg-core";
import { faBars, faTimes } from "@fortawesome/pro-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";

library.add(faBars, faTimes);

export default {
  components: {
    "fw-nav-logo": NavigationLogo,
    "font-awesome-icon": FontAwesomeIcon
  },

  props: {
    logo: String,
    theme: String
  },

  data() {
    return {
      mobileNavState: ""
    };
  },

  methods: {
    openMobileNav() {
      this.mobileNavState = "mobileNavOpen";
      console.log("toggle nav");
    },
    closeMobileNav() {
      this.mobileNavState = "";
      console.log("toggle nav");
    }
  }
};
</script>

<style lang="scss" scoped>
nav {
  z-index: 50;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  /* &.light {
    background-color: hsla(0, 0, 30, .85);
  }

  &.dark {
    background-color: hsla(0, 0, 100, .75);
  } */

  /* -webkit-backdrop-filter: blur(24px); */

  section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 90rem;
    height: 5rem;

    margin: 0 auto;
    padding: 0 1rem;
  }
}

.navOverflow {
  @media only screen and (min-width: 991px) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
  }

  @media only screen and (max-width: 990px) {
    display: flex;
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    left: 100%;

    flex-flow: column;
    justify-content: center;
    align-items: center;

    background-color: mix(hsla(0, 0, 0, 1), rgba(0, 130, 200, 1));
    transition: 250ms ease-in-out;
  }
}

.mobileNavOpen {
  @media only screen and (max-width: 990px) {
    right: 0;
    left: 0;
    transition: 250ms ease-in-out;
  }
}

.mobile-nav-open {
  @media only screen and (min-width: 991px) {
    display: none;
  }

  @media only screen and (max-width: 990px) {
    display: block;
    font-size: 16px;
    padding: 4px;
    border-radius: 4px;

    margin-left: auto;

    &.light {
      color: hsla(0, 0, 100, 0.75);
    }

    &.dark {
      color: hsla(0, 0, 30, 0.75);
    }
  }
}

.mobile-nav-close {
  @media only screen and (min-width: 991px) {
    display: none;
  }

  @media only screen and (max-width: 990px) {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: block;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    padding: 6px;
  }
}
</style>
