<template>
  <div :class="'nav-link ' + theme">
    <button :class="'title ' + theme" v-if="dropdown" @click="openDropdown">
      <font-awesome-icon v-if="icon" :icon="icon"></font-awesome-icon>
      <span v-html="title || ''"></span>
      <font-awesome-icon :icon="['fas', 'caret-down']" style="margin-left: .5rem;" fa-fw></font-awesome-icon>
    </button>

    <a :href="route" :class="'title ' + theme" :target="target || '_self'" v-else>
      <span v-html="title || '$empty'"></span>
    </a>

    <div class="dropdown" v-if="dropdownOpen" v-on-clickaway="closeDropdown">
      <span class="mobile-nav-close" v-on:click="closeDropdown">
        <font-awesome-icon :icon="['fas', 'times']" fa-fw></font-awesome-icon>
      </span>
      <slot></slot>
    </div>
  </div>
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway'
import { library } from  '@fortawesome/fontawesome-svg-core'
import { faCaretDown, faTimes, faUser } from '@fortawesome/pro-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add(faCaretDown, faTimes, faUser)

export default {
  components: {
    'font-awesome-icon': FontAwesomeIcon
  },

  mixins: [ clickaway ],

  props: {
    title: String,
    icon: String,
    route: String,
    dropdown: Boolean,
    target: String,
    theme: String
  },

  data() {
    return {
      dropdownOpen: false,
    }
  },

  methods: {
    openDropdown() {
      this.dropdownOpen = !this.dropdownOpen
    },
    closeDropdown() {
      setTimeout(() => {
        this.dropdownOpen = !this.dropdownOpen
      }, 100)
    }
  }
}
</script>

<style lang="scss" scoped>
* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

.nav-link {
  position: relative;
  margin: .25rem .5rem 0;
  padding: .35rem .25rem;
  transition: 350ms ease-in-out;

  &.light, &.dark {
    border-bottom: .25rem solid transparent;
  }

  @media only screen and (max-width: 990px) {
    position: static;
  }

  &:hover {
    transition: 175ms ease-in-out;

    &.light {
      border-bottom: .25rem solid rgba(255, 255, 255, 1);
    }

    &.dark {
      border-bottom: .25rem solid hsla(0, 0, 30, .75);
    }
  }
}

.title {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: .35rem .25rem;
  border: none;
  background: none;
  font-size: 1rem;
  font-weight: 600;
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  transition: 350ms ease-in-out;

  &.light {
    color: rgba(255, 255, 255, .75);
  }

  &.dark {
    color: hsla(0, 0, 30, .75);
  }

  &:hover {
    cursor: pointer;
    transition: 175ms ease-in-out;

    &.light {
      color: rgba(255, 255, 255, 1);
    }

    &.dark {
      color: hsla(0, 0, 30, 1);
    }
  }

  @media only screen and (max-width: 990px) {
    &.light {
      color: rgba(255, 255, 255, .75);
    }

    &.dark {
      color: rgba(255, 255, 255, .75);
    }

    &:hover {
      cursor: pointer;
      transition: 175ms ease-in-out;

      &.light {
        color: rgba(255, 255, 255, 1);
      }

      &.dark {
        color: rgba(255, 255, 255, 1);
      }
    }
  }

  &:focus {
    outline: none;
  }
}

.dropdown {
  position: absolute;
  z-index: 100000;
  top: calc(100% + .4rem);
  right: 0;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 1rem 1.5rem;
  background-color: rgba(255,255,255,1);
  border: 1px solid hsla(0,0,90,1);
  border-radius: 4px;
  box-shadow: 0px 8px 24px -12px hsla(0,0,0,.25);
  min-width: 100%;

  @media only screen and (max-width: 990px) {
    position: fixed;
    top: unset;
    right: 0;
    left: 0;
    bottom: 0;

    align-items: center;

    padding: 2rem 0;

    // transform: translateX(-50%);
  }

  > a {
    margin: 0;
    padding: .75rem 0;
    color: hsla(0,0,50,1);
    font-size: .95rem;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border: none;
    transition: 350ms ease-in-out;

    &:hover {
      cursor: pointer;
      color: hsla(0,0,30,1);
      transition: 175ms ease-in-out;
    }
  }

  > span, > div {
    margin: 0;
    padding: .75rem 0;
    color: hsla(0,0,30,1);
    font-size: .95rem;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border: none;

    &:hover {
      cursor: default;
    }
  }
}

.mobile-nav-close {
  @media only screen and (min-width: 991px) {
    display: none;
  }

  @media only screen and (max-width: 990px) {
    position: absolute;
    top: .5rem;
    right: 1rem;
    display: block;
    font-size: 24px;
    color: rgba(255,255,255,1);
    padding: 12px;
  }
}
</style>
