.blog {
    &__hero {
        position: absolute;
        top: 0;
        left: 50%;
        width: 100vw;
        height: 45vh;
        transform: translateX(-50%);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }

    &__content {
        margin: 45vh 0 0;
    }

    &__meta {
        font-size: 11px;
        font-weight: 800;
        color: rgba(175, 175, 175, 1);
        text-transform: uppercase;

        margin: 0 0 16px;

        span {
            font-size: 12px;
            font-weight: 700;
            color: rgba(140, 140, 140, 1);

            margin: 0 2px;
        }
    }

    &__title {
        font-size: 24px;
        font-weight: 900;
        color: rgba(77, 76, 76, 1);
        text-transform: uppercase;
        text-align: left;

        margin: 0 0 6px;
    }

    &__summary {
        all: unset;
        display: block;
        font-size: 16px;
        font-weight: 700;
        text-align: left;
        margin: 0 0 48px;
    }

    &__body {
        p {
            display: block;
            font-size: 1.5rem;
            line-height: 2.75rem;
            font-weight: 300;
            margin: 0 0 1.5rem;
        }

        a {
            display: inline-block;
            text-decoration: none;
            border: none;
            font-weight: 600;
            transition: $transition-500;

            &:link {
                color: darken($blue, 10%);
            }

            &:hover {
                text-decoration: none;
                border: none;
                color: lighten($text-primary, 5%);
                transition: $transition-250;
            }

            &:visited {
                color: lighten($red, 5%);
            }

            &:active {
                color: lighten($text-primary, 5%);
            }

            svg {
                margin: 0 3px;
            }
        }
    }
}