//Font Families
// $font-family-sans-serif: 'Muli';
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Blend Modes
$multiply: multiply;
$screen: screen;
$add: add;
$overlay: overlay;
$soft-light: soft-light;
$saturation: saturation;

$blend-modes: (
    multiply: $multiply,
    screen: $screen,
    add: $add,
    overlay: $overlay,
    soft-light: $soft-light,
    saturation: $saturation,
)   !default;


// Greyscale
$grey-100: hsla(0,0,100,1);
$grey-90: hsla(0,0,90,1);
$grey-80: hsla(0,0,80,1);
$grey-70: hsla(0,0,70,1);
$grey-60: hsla(0,0,60,1);
$grey-50: hsla(0,0,50,1);
$grey-40: hsla(0,0,40,1);
$grey-30: hsla(0,0,30,1);
$grey-20: hsla(0,0,20,1);
$grey-10: hsla(0,0,10,1);
$grey-0: hsla(0,0,0,1);

$grey-values: (
    grey-100: $grey-100,
    grey-90: $grey-90,
    grey-80: $grey-80,
    grey-70: $grey-70,
    grey-60: $grey-60,
    grey-50: $grey-50,
    grey-40: $grey-40,
    grey-30: $grey-30,
    grey-20: $grey-20,
    grey-10: $grey-10,
    grey-0: $grey-0,
)   !default;


// Basic Color
$white: $grey-100;
$black: $grey-0;
$red: rgba(242, 61, 76, 1);
$green: rgba(71, 172, 43, 1);
$blue: rgba(0, 130, 200, 1);
$yellow: rgba(235, 221, 69, 1);
$cyan: rgba(50, 188, 188, 1);
$magenta: rgba(229, 72, 236, 1);
$orange: rgba(236, 143, 72, 1);
$pink: rgba(236, 72, 129, 1);
$brown: rgba(161, 97, 56, 1);
$terminal-green: rgba(51, 255, 102, 1);


$brand-primary: $blue;


// States
$success: $green;
$info: $blue;
$info-alt: $cyan;
$warning: $yellow;
$danger: $orange;
$critical: $red;
$error: $red;
$light: $grey-100;
$dark: $grey-30;
$disabled: $grey-80;

$states: (
    success: $success,
    info: $info,
    info-alt: $info-alt,
    warning: $warning,
    danger: $danger,
    critical: $critical,
    error: $error,
    light: $light,
    dark: $dark,
    disabled: $disabled,
)   !default;


// Branding
$text-primary: $grey-30;
$default-background: mix($grey-0, $blue);