#home {
    .featuredText {
        min-height: 100%;
        display: flex;
        flex-basis: auto;
        flex-direction: column;
        justify-content: space-around;
        h1 {
            font-size: 3rem;
            font-weight: 800;
            text-transform: uppercase;
            line-height: 3.75rem;
        }
        p {
            font-size: 1.85rem;
            line-height: 3.5rem;
            font-weight: 300;
        }
    }
    .featuredMainText {
        text-align: left;
        h3 {
            margin-top: 4rem;
            font-weight: 700;
            text-transform: uppercase;
        }
        p {
            margin-top: 2rem;
            font-size: 1.45rem;
            font-weight: 300;
            line-height: 3rem;
        }
    }
    .featuredArt {
        display: flex;
        flex-basis: auto;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        img {
            padding: 0 0 0 2rem;
            @media only screen and (max-width: 768px) {
                padding: 2rem 0 0 0;
            }
        }
    }
    video {
        padding: 4rem 0;
        filter: $drop-shadow__hover;
    }
}
