.markdown {
    font-family: $font-family-sans-serif;
    color: $text-primary;
    h1, h2, h3, h4, h5, h6, p {
        padding: 0;
    }
    h1, h2, h3, h4, h5, h6 {
        margin: 2rem 0 .5rem;
        font-weight: 500;
    }
    h1 {
        font-size: 3.5rem;
    }
    h2 {
        font-size: 2.75rem;
    }
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    h5 {
        font-size: 1rem;
    }
    h6 {
        font-size: .85rem;
    }
    p {
        margin: 2rem 0 .5rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2.6rem;
    }
    blockquote {
        display: block;
        margin: 2rem 5% .5rem;
        padding: 1rem 1rem 1rem 2rem;
        border: 1px solid rgba($grey-90, .5);
        border-left: 5px solid rgba($brand-primary, .5);
        border-radius: 5px;
        background-color: $white;
        box-shadow: $box-shadow__static;
        h1, h2, h3, h4, h5, h6, p {
            margin: .5rem 0;
            opacity: .75;
        }
        p {
            font-size: 1.25rem;
            line-height: 2rem;
        }
    }
    pre {
        display: block;
        margin: 2rem 0 .5rem;
        padding: 1.5rem;
        background-color: $grey-20;
        border: 1px solid rgba($grey-30, .5);
        border-radius: 5px;
        box-shadow: $box-shadow__static;
        code {
            display: block;
            width: 100%;
            color: $grey-90;
            font-family: monospace;
            font-size: 1.4rem;
            white-space: pre-wrap;
        }
    }
    em {
        font-style: italic;
        color: rgba($text-primary, .85)
    }
    strong {
        font-weight: 800;
        color: rgba($text-primary, .85);
    }
    hr {
        border: 0;
        height: 1px;
        background: $text-primary;
        background-image: linear-gradient(to right, lighten($text-primary, 50%), lighten($text-primary, 25%),  lighten($text-primary, 50%));
    }
    a {
        display: inline;
        text-decoration: none;
        border: none;
        font-weight: 600;
        transition: $transition-500;
        &:link {
            color: darken($blue, 10%);
        }
        &:hover {
            text-decoration: none;
            border: none;
            color: lighten($text-primary, 5%);
            transition: $transition-250;
        }
        &:visited {
            color: lighten($red, 5%);
        }
        &:active {
            color: lighten($text-primary, 5%);
        }
    }
    ul {
        list-style: none;
        font-size: 1.4rem;
        li::before {
            display: inline-block;
            content: '\f105';
            width: .95rem;
            height: .95rem;
            font-family: 'Font Awesome 5';
            font-style: normal;
            font-weight: 900;
            font-size: 1.25rem;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            margin-right: 1.05rem;
        }
        li {
            margin: 0 0 .75rem;
            text-align: left;
        }
    }
    ol {
        font-size: 1.4rem;
        li {
            margin: 0 0 .75rem 1.35rem;
            padding: 0 0 0 .65rem;
            text-align: left;
        }
    }
    img {
        width: 100%;
        height: auto;
        margin: 1.5rem .75rem;
    }
}