.hidden {
    display: none   !important;
}

.overflowHidden {
    overflow: hidden;
}

.modal-old {
    @include setFlex(column, nowrap, unset, flex-start, center);
    overflow-y: scroll;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100%;
    padding: 4rem 0 2rem;
    background-color: transparent;
    transition: $transition-350;
    .closesModal {
        @include setFlex(row, nowrap, unset, center, center);
        position: absolute;
        top: 1.5rem;
        right: 2rem;
        margin: 0;
        padding: 0;
        font-size: 2.5rem;
        transition: $transition-350;
        &:hover {
            cursor: pointer;
        }
    }
    &.lightBg {
        background-color: rgba($white, .95);
        .closesModal {
            color: $text-primary;
            &:hover {
                color: $red;
            }
        }
    }
    &.darkBg {
        background-color: rgba($default-background, .97);
        .closesModal {
            color: $grey-90;
            &:hover {
                color: $red;
            }
        }
    }
    .baseCard {
        margin-top: 6.5rem;
        align-self: flex-start;
    }
    header {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 700;
    }
}