@import "branding";
@import "variables";


nav {
    width: 100%;
    max-width: 90rem;
    height: 5rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: $transition-350;
    @media screen and (min-width: 1025px) {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: flex-end;
        height: auto;
        overflow: visible;
    }
    &.expanded {
        @media screen and (max-width: 1024px) {
            height: 100vh;
            overflow-y: scroll;
        }
    }
    .logo {
        width: 100%;
        height: 5rem;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        flex-grow: 1;
        margin: 0;
        padding: 0;
        @media screen and (min-width: 1025px) {
            justify-self: flex-start;
            width: auto;
        }
        a {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0 1rem;
            @media screen and (min-width: 90rem) {
                padding: 0;
            }
            img {
                width: auto;
                max-height: 2.5rem;
                margin: 1.25rem 0;
                padding: 0;
            }
        }
    }
    .mobileNavigationContainer {
        width: auto;
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    #mobileNavigationButton {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
        color: rgba($white, .75);
        margin: 1.5rem 1rem;
        padding: .5rem;
        background-color: rgba($white, .15);
        border-radius: $border-radius;
        transition: $transition-350;
        @media screen and (min-width: 90rem) {
            margin: 1.5rem 0;
        }
        &:hover {
            cursor: pointer;
            color: $white;
            background-color: rgba($white, .25);
            transition: $transition-250;
        }
        @media screen and (min-width: 1025px) {
            display: none;
        }
    }
    .navigation-button {
        position: relative;
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        @media screen and (min-width: 1025px) {
            width: auto;
            margin: .5rem 1rem;
        }
        &::before {
            content: '';
            position: absolute;
            width: 0%;
            height: .35rem;
            right: 0;
            bottom: 0;
            background-color: $white;
            transition: $transition-350;
        }
        &:hover {
            &::before {
                width: 0%;
                transition: $transition-250;
                @media screen and (min-width: 1025px) {
                    width: 100%;
                }
            }
        }
        &.current {
            &::before {
                content: '';
                position: absolute;
                width: 0%;
                height: .35rem;
                right: 0;
                bottom: 0;
                background-color: rgba($white, .75);
                transition: $transition-250;
                @media screen and (min-width: 1025px) {
                    width: 100%;
                }
            }
            &:hover {
                &::before {
                    background-color: $white;
                    transition: $transition-250;
                }
            }
        }
        &.activeOverflow {
            &::before {
                content: '';
                position: absolute;
                width: 0%;
                height: .35rem;
                right: 0;
                bottom: 0;
                background-color: rgba($white, .75);
                transition: $transition-250;
                @media screen and (min-width: 1025px) {
                    width: 100%;
                }
            }
            &:hover {
                &::before {
                    background-color: $white;
                    transition: $transition-250;
                }
            }
        }
        &-link {
            display: inline;
            margin: 0;
            padding: 1.25rem 0;
            color: rgba($white, .75);
            font-size: 1.5rem;
            font-weight: 700;
            text-align: right;
            text-transform: uppercase;
            text-decoration: none;
            border: none;
            transition: $transition-350;
            @media screen and (min-width: 1025px) {
                font-size: 1rem;
            }
            &:hover {
                cursor: pointer;
                color: $white;
                transition: $transition-250;
            }
            .dimmed-breadcrumb {
                color: rgba($white, .5);
            }
        }
    }
    .mobile-username {
        margin: 0 .5rem 0 0;
        @media screen and (min-width: 1025px) {
            display: none;
        }
    }
    .fa-user {
        @media screen and (max-width: 1024px) {
            display: none;
        }
    }
    .navigation-overflow {
        position: relative;
        display: none;
        width: 100%;
        margin: 0;
        padding: 0;
        top: calc(100% + .5rem);
        right: 0;
        background-color: rgba($white, .1);
        @media screen and (min-width: 1025px) {
            position: absolute;
            z-index: 10;
            width: auto;
            background-color: $grey-90;
        }
        &-username {
            display: none;
            @media screen and (min-width: 1025px) {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                margin: 0;
                padding: 1.75rem 1.5rem .15rem;
                font-size: 1rem;
                font-weight: 700;
                text-transform: uppercase;
                color: $text-primary;
                white-space: nowrap;
            }
        }
        &-userrole {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 1.75rem 1.5rem;
            color: $white;
            font-size: .95rem;
            font-weight: 900;
            text-transform: uppercase;
            @media screen and (min-width: 1025px) {
                justify-content: flex-end;
                padding: .15rem 1.5rem 0;
                font-size: .85rem;
                font-weight: 700;
                color: $text-primary;
                white-space: nowrap;
            }
        }
        &-link {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 1.75rem 1.5rem;
            color: $white;
            font-size: 1.25rem;
            font-weight: 600;
            text-align: right;
            text-transform: uppercase;
            text-decoration: none;
            white-space: nowrap;
            border: none;
            @media screen and (min-width: 1025px) {
                justify-content: flex-end;
                padding: .75rem 1.5rem;
                font-size: 1rem;
                font-weight: 700;
                color: $text-primary;
            }
            &::before {
                content: '';
                position: absolute;
                z-index: 0;
                width: 0rem;
                top: 0;
                right: 0;
                bottom: 0;
                background-color: rgba($text-primary, 0);
                transition: $transition-350;
            }
            &:hover {
                cursor: pointer;
                &::before {
                    width: .5rem;
                    background-color: rgba($text-primary, .5);
                    transition: $transition-250;
                }
            }
        }
    }
}
