.text {
    display: block;
    &.center {
        text-align: center;
    }
    &.uppercase {
        text-transform: uppercase;
    }
    &.white {
        color: $white;
    }
    &.dark {
        color: $text-primary;
    }
    &.display {
        font-weight: 900;
        &.extra-small {
            font-size: 3.5rem;
        }
        &.small {
            font-size: 4rem;
        }
        &.medium {
            font-size: 4.75rem;
        }
        &.large {
            font-size: 5.5rem;
        }
        &.extra-large {
            font-size: 6.25rem;
        }
    }
    &.heading {
        &.h1 {
            font-size: 3.5rem;
        }
        &.h2 {
            font-size: 2.75rem;
        }
        &.h3 {
            font-size: 2rem;
        }
        &.h4 {
            font-size: 1.5rem;
        }
        &.h5 {
            font-size: 1rem;
        }
        &.h6 {
            font-size: .85rem;
        }
    }
    &.font-weight {
        &-200 {
            font-weight: 200;
        }
        &-200i {
            font-weight: 200;
            font-style: italic;
        }
        &-300 {
            font-weight: 300;
        }
        &-300i {
            font-weight: 300;
            font-style: italic;
        }
        &-400 {
            font-weight: 400;
        }
        &-400i {
            font-weight: 400;
            font-style: italic;
        }
        &-600 {
            font-weight: 600;
        }
        &-600i {
            font-weight: 600;
            font-style: italic;
        }
        &-700 {
            font-weight: 700;
        }
        &-700i {
            font-weight: 700;
            font-style: italic;
        }
        &-800 {
            font-weight: 800;
        }
        &-800i {
            font-weight: 800;
            font-style: italic;
        }
        &-900 {
            font-weight: 900;
        }
        &-900i {
            font-weight: 900;
            font-style: italic;
        }
    }
    &.line-height {
        &-small {
            line-height: 100%;
        }
        &-medium {
            line-height: 150%;
        }
        &-large {
            line-height: 200%;
        }
        &-extra-large {
            line-height: 250%;
        }
    }
    &.paragraph {
        &.general {
            font-size: 1.4rem;
            font-weight: 300;
            line-height: 2.6rem;
        }
        &.small {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 2rem;
        }
        &.large {
            font-size: 1.6rem;
            font-weight: 200;
            line-height: 3rem;
        }
    }
    &.italic {
        font-style: italic;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.finePrint {
    max-width: 800px;

    margin: 16px auto;

    color: rgba(106, 120, 128, 1);
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
}

.sectionHeading {
    color: rgba(127, 144, 153, 1);
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.sectionSubHeading {
    margin: 8px 0px 0px;

    color: rgba(127, 144, 153, 1);
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}