* {
    box-sizing: border-box;
    &::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    &::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

.text {
    &.left {
        text-align: left;
    }
    &.center {
        text-align: center;
    }
    &.right {
        text-align: right;
    }
}

a.link {
    display: inline;
    text-decoration: none;
    border: none;
    font-weight: 600;
    transition: $transition-500;
    &:link {
        color: darken($blue, 10%);
    }
    &:hover {
        text-decoration: none;
        border: none;
        color: lighten($text-primary, 5%);
        transition: $transition-250;
    }
    &:visited {
        color: lighten($red, 5%);
    }
    &:active {
        color: lighten($text-primary, 5%);
    }
}

a.clean-link {
    display: inline-block;
    text-decoration: none;
    border: none;
    &:hover, &:link, &:active, &:visited {
    text-decoration: none;
    border: none;
    }
}

.btn {
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .75rem 1.75rem;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: $box-shadow__static;
    border: 0.0625rem solid $grey-30;
    border-radius: 2px;
    background: $grey-30;
    color: $white;
    text-shadow: 0px 1px 2px rgba($grey-10, .3);
    transform: translateY(0);
    transition: $transition-350;
    &.btn__sm {
        padding: .5rem .75rem;
        font-size: .9rem;
    }
    &.btn__sq {
        padding: .5rem;
        width: fit-content;
    }
    &:hover {
        transform: translateY(-1px);
        box-shadow: $box-shadow__hover;
        cursor: pointer;
        transition: $transition-150;
    }
    &:focus, &:active, &:visited {
        outline: none;
    }
    &__primary {
        color: $white;
        background: $info;
        border: 0.0625rem solid rgba($info, .15);
        &:hover {
            color: $white;
            background: darken($info, 5%);
            border: 0.0625rem solid rgba($info, .25);
        }
        &:visited {
            color: $white;
        }
        &:active {
            color: $white;
        }
    }
    &__success {
        background: $success;
        border: 0.0625rem solid rgba($success, .15);
        &:hover {
            color: $white;
            background: darken($success, 5%);
            border: 0.0625rem solid rgba($success, .25);
        }
    }
    &__danger {
        background: $danger;
        border: 0.0625rem solid rgba($danger, .15);
        &:hover {
            color: $white;
            background: darken($danger, 5%);
            border: 0.0625rem solid rgba($danger, .25);
        }
    }
    &__critical {
        background: $critical;
        border: 0.0625rem solid rgba($critical, .15);
        &:hover {
            color: $white;
            background: darken($critical, 5%);
            border: 0.0625rem solid rgba($critical, .25);
        }
    }
}

.text-btn {
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // padding: .75rem 1.75rem;
    background-color: transparent;
    border: none;
    color: $text-primary;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    opacity: .8;
    transition: $transition-350;
    &:hover {
        opacity: 1;
        transform: translateY(0);
        box-shadow: none;
        cursor: pointer;
        transition: $transition-150;
    }
    &-primary {
        color: $brand-primary;
        background-color: transparent;
        border: none;
    }
    &-success {
        color: $success;
        background-color: transparent;
        border: none;
    }
    &-danger {
        color: $danger;
        background-color: transparent;
        border: none;
    }
    &-critical {
        color: $critical;
        background-color: transparent;
        border: none;
    }
}


.d-flex {
    display: flex;
    flex-basis: auto;
    &.flex-row {
        flex-direction: row;
    }
    &.flex-column {
        flex-direction: column;
    }
    &.flex-wrap {
        flex-wrap: wrap;
    }
    &.flex-no-wrap {
        flex-wrap: nowrap;
    }
    &.justify-content-center {
        justify-content: center;
    }
    &.justify-content-around {
        justify-content: space-around;
    }
    &.justify-content-between {
        justify-content: space-between;
    }
    &.justify-content-start {
        justify-content: flex-start;
    }
    &.justify-content-end {
        justify-content: flex-end;
    }
    &.justify-content-evenly {
        justify-content: space-evenly;
    }
    &.align-items-start {
        align-items: flex-start;
    }
    &.align-items-end {
        align-items: flex-end;
    }
    &.align-items-center {
        align-items: center;
    }
    &.align-items-stretch {
        align-items: stretch;
    }
    &.align-items-baseline {
        align-items: baseline;
    }
}

// Only for children of a flex container
.align-self-start {
    align-self: flex-start;
}
.align-self-end {
    align-self: flex-end;
}
.align-self-center {
    align-self: center;
}
.align-self-stretch {
    align-self: stretch;
}
.align-self-baseline {
    align-self: baseline;
}

.blurred {
	filter: blur(12px);
	transform: scale(1.1);
}

.no-flex-shrink {
    flex-shrink: 0;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.m-1 {
    margin: .25rem;
}

.m-2 {
    margin: .5rem;
}

.m-3 {
    margin: 1rem;
}

.m-4 {
    margin: 1.5rem;
}

.ml-1 {
    margin-left: .25rem;
}

.ml-2 {
    margin-left: .5rem;
}

.ml-3 {
    margin-left: 1rem;
}

.ml-4 {
    margin-left: 1.5rem;
}

.mr-1 {
    margin-right: .25rem;
}

.mr-2 {
    margin-right: .5rem;
}

.mr-3 {
    margin-right: 1rem;
}

.mr-4 {
    margin-right: 1.5rem;
}

.mt-2 {
    margin-top: .5rem;
}

.mt-3 {
    margin-top: 1rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mt-5 {
    margin-top: 3rem;
}

.mb-2 {
    margin-bottom: .5rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.mb-5 {
    margin-bottom: 3rem;
}

.mx-2 {
    margin-left: .5rem;
    margin-right: .5rem;
}

.mx-3 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mx-4 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.my-1 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.my-2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-3 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.p-0 {
    padding: 0;
}

.p-1 {
    padding: .5rem;
}

.p-2 {
    padding: 1rem;
}

.p-3 {
    padding: 1.5rem;
}

.pb-3 {
    padding-bottom: 1rem;
}

.overflowHidden {
    overflow: hidden;
}

.overflow-x {
    overflow-x: scroll;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hidden {
    display: none;
    transition: $transition-350;
}


.checker-red {
    border: 1px solid red;
}

.checker-green {
    border: 1px solid lime;
}

.checker-blue {
    border: 1px solid blue;
}

.fa {
    transition: $transition-350;
}

.text-uppercase {
    text-transform: uppercase;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

hr {
    width: 100%;
    height: 1px;
    margin: 1.5rem auto;
    border: 1px solid $grey-90;
}

.message-flash {
    position: relative;
    width: 100%;
    @include setFlex(column, nowrap, unset, center, center);
    margin: .5rem 1rem;
    padding: 1rem 4.5rem 1rem 1.5rem;
    font-size: 1.35rem;
    font-weight: 700;
    text-align: center;
    background-color: rgba($brand-primary, .1);
    border: 1px solid rgba($brand-primary, .2);
    border-radius: $border-radius;
    .close {
        @include setFlex(row, nowrap, unset, center, center);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        padding: 1rem;
        background-color: rgba($brand-primary, .05);
        border-left: 1px solid rgba($brand-primary, .05);
        font-size: 1.5rem;
        transition: $transition-500;
        &:hover {
            background-color: rgba($brand-primary, .1);
            border-left: 1px solid rgba($brand-primary, .2);
            cursor: pointer;
            transition: $transition-250;
        }
    }
    &.critical {
        background-color: rgba($critical, .1);
        border: 1px solid rgba($critical, .2);
        &:hover {
            background-color: rgba($critical, .1);
            border-left: 1px solid rgba($critical, .2);
        }
        .close {
            background-color: rgba($critical, .05);
            border-left: 1px solid rgba($critical, .05);
            &:hover {
                background-color: rgba($critical, .1);
                border-left: 1px solid rgba($critical, .2);
            }
        }
    }
}